{% extends "templates/partials/base.html" %}
{% set page_name = 'All Books' %}
{% set now = Date() %}
{% set current_date = now |date('U') %}
{% block title %}{% parent %} - {{ page_name }}{% endblock %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
<div id="container-filter"> {# //THIS NEEDS TO BE CLOSED IN THE CONTENT TO SURROUND FILTERED TERMS #}
  {% include "templates/partials/hero-search.html" %}
{% endblock %}
{% set books = cms.book %}
{% set books = books|sort('publication_date', true) %}
{% block content %}
<div class="local-nav"><!--  //Filter for the content below -->
    <div class="interior">
    <i class="icon-filter"></i>
    <ul class="button-group hidden-js">
      <li id="filter-fiction"><a href="javascript:void(0)" class="button">Fiction</a></li>
      <li id="filter-nonfiction"><a href="javascript:void(0)" class="button">Nonfiction</a></li>
      <li id="filter-poetry"><a href="javascript:void(0)" class="button">Poetry</a></li>
      <li id="filter-theater"><a href="javascript:void(0)" class="button">Theater</a></li>
      {# <li id="filter-forthcoming"><a href="javascript:void(0)" class="button">Forthcoming</a></li> #}
      <li id="filter-none" class="button"><a href="javascript:void(0)" class="button">clear</a></li>
     {#  <li><a href="javascript:void(0)" class="button">Keywords</a></li> #}
    </ul>
    <ul class="button-group" style="float:right;">
     <li class="button" ><a href="/books/" class="button">Books Overview</a></li> 
    </ul>

    {# <button class="sort" data-sort="last_name">Sort by Last Name</button> #}
    {# <span style="text-align:right;">
      <i class="icon-th"></i>
      <i class="icon-th-list"></i>
    </span>     #}
    </div>
  </div>

{# ====== BOOKS LIST ======== #}
<div style="margin:auto;">
  <table class="table-minimal" cellpadding="0" cellspacing="0">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Date</th>
      <th>Genre</th>
    </tr>
    {% spaceless %}
    <tbody class="list-filter">
      {% for book in books %}
        {% set pub_date = book.publication_date|date('U') %}
        <tr>
          <td class="name" width="33%">              
            <a href="{{ url(book) }}">{{ book.name }}</a><span class="subtitle">{% if book.subtitle %} <a href="{{ url(book) }}">{{ book.subtitle }}</a>{% endif %}</span>
          </td>    
          <td class="authors" width="33%">
            {% for author in book.authors %}
              <a href="{{ url(author) }}" class="author">{{ author.name }}</a>{% if not loop.last %},{% endif %}
              <span class="slug hidden">{{ author.slug|replace('author/', '') }}</span>
            {% endfor %}
          </td>    
          <td class="date" width="12%">{% if book.publication_date %}{{ book.publication_date|date('F, Y') }}{% endif %}</td>
          <td class="genre" width="5%">{% if book.genre %}{{ book.genre }}{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
    {% endspaceless %}
  </table>
</div>
{# END BOOKS LIST  #}
{% endblock %}
{% block scripts_extra %}
  <script src="/static/javascript/dist/scripts-listjs.min.js" async></script>
{% endblock %}
