{% extends "templates/partials/export.html" %}
{% block content %}
{% set content = cms.article %}
{% set items = content |sort('publish_date', true) %}
{% for object in items %}
@@@<br />
title: "{{ object.name | addslashes }}"<br />
draft: {% if object.isDraft == true %}true{% else %}false{% endif %}<br />
{% if object.publish_date %}date: {{ object.publish_date | date('c') }}<br />{% endif %}
featured:{% if object.featured == true %} true{% else %} false{% endif %}<br />

description:{% if object.lede %} "{{ object.lede }}"{% endif %}<br />


related_contributor:<br />{% for relation in object.related_author %}
$$- contributor/{{ relation.slug | replace('author/', '')  }}.md{% if not loop.last %}<br />{% endif %}{% endfor %}<br />

related_book:<br />{% for relation in object.related_book %}
$$- {{ relation.slug }}.md{% if not loop.last %}<br />{% endif %}{% endfor %}<br />



images:<br />{% for image in object.gallery %}
$$- image: "{{ image.url }}"<br />
$$$$caption: "{{ image.caption }}"<br />{% endfor %}
featured_image_position:{% if object.featured_image_position %} "{{ object.featured_image_position }}"{% endif %}<br />

_slug: {{ object.slug | replace('article/', '') | replace('community/', '') }}<br />
---<br />

{{ object.copy | safe }}
{% endfor %}
<br />
{% endblock %}
