<!-- TODO:
type: not right. Needs to be an multi-select, now it's an object.
language: showing albania when there is none. -->

{% extends "templates/partials/export.html" %}
{% block content %}
{% set content = cms.book %}
{% set items = content |sort('publish_date', true) %}
{% for object in items %}
{% for row in object.editions %}

@@@<br />
title: {% spaceless %}{{ row.isbn }}{% endspaceless %}<br />
book_title: "{{ object.name | addslashes }}"<br />
binding: {{ row.type | lower }}<br />
draft: {% if object.isDraft == false %}false{% else %}true{% endif %}<br />
{% if object.publish_date %}date: {{ object.publish_date | date('c') }}<br />{% endif %}
{% if object.publication_date %}publication_date: {{ object.publication_date | date('c') }}<br />{% endif %}
show_in_forthcoming: {% if object.show_in_forthcoming %}{{ object.show_in_forthcoming }}{% else %}false{% endif %}<br />
contributors:<br />{% for relation in object.contributors %}
$$- contributor/{{ relation.slug | replace('author/', '')  }}.md{% if not loop.last %}<br />{% endif %}{% endfor %}<br />



{% set editions = object.editions %}

cover_image_path: {% if editions %}{% if editions[0].image %}{{ editions[0].image.url }}{% elseif object.image_file %}{{ object.image_file }}{% endif %}{% endif %}<br />


forsale: {% if row.for_sale %}true{% else %}false{% endif %}<br />
saleprice: {{ row.sale_price }}<br />
shipping_charge: {{ row.shipping_charge }}<br />
price_us: {{ row.price_us }}<br />
price_cn: {{ row.price_cn }}<br />
trim_size: {{ row.trim_size }}<br />
page_count: {{ row.page_count }}<br />




---<br />

{{ row.tagline | replace('"', '_', 'g') | markdown | replace('<p>', '') | replace('</p>', '') }}
<br /><br /><br /><br />

{% endfor %}














{% endfor %}
<br />










{% endblock %}
