{% extends "templates/partials/export.html" %}
{% block content %}
{% set content = cms.book %}
{% set items = content |sort('publish_date', true) %}
{% for object in items %}
@@@<br />
title: "{{ object.name | addslashes }}"<br />
published: {% if object.isDraft == false %}true{% else %}false{% endif %}<br />
{% if object.publish_date %}date: {{ object.publish_date | date('c') }}<br />{% endif %}
{% if object.publication_date %}publication_date: {{ object.publication_date | date('c') }}<br />{% endif %}
show_in_forthcoming: {% if object.show_in_forthcoming %}{{ object.show_in_forthcoming }}{% else %}false{% endif %}<br />
subtitle: {% if object.subtitle %}"{{ object.subtitle }}"{% endif %}<br />
genre: {% if object.genre %}{{ object.genre }}{% endif %}<br />
language: {% if object.language_translated_from %}{{ object.language_translated_from }}{% endif %}<br />
type:<br />{% for option in object.type %}
{% if option.value == 'true' %}$$- {{ option.label }}<br />{% endif %}{% endfor%}

author_contributors:{% for relation in object.authors %}<br />
$$- {{ relation.slug | replace('author/', '')  }}{% if not loop.last %}<br />{% endif %}{% endfor %}<br />

translator_contributors:{% for relation in object.translators %}<br />
$$- {{ relation.slug | replace('translator/', '')  }}{% if not loop.last %}<br />{% endif %}{% endfor %}<br />


editor_contributors:{% for relation in object.editors %}<br />
$$- {{ relation.slug | replace('editor/', '')  }}{% if not loop.last %}<br />{% endif %}{% endfor %}<br />


contributors:{% for relation in object.contributors %}<br />
$$- {{ relation.slug | replace('contributor/', '')  }}{% if not loop.last %}<br />{% endif %}{% endfor %}<br />



featured_image_path: {% if object.featured_image %}{{ object.featured_image.url | replace('/webhook-uploads/', '/uploads/') }}{% endif %}<br />


{% set editions = object.editions %}

cover_image_path: {% if editions %}{% if editions[0].image %}{{ editions[0].image.url }}{% elseif object.image_file %}{{ object.image_file }}{% endif %}{% endif %}<br />


description: {% if editions %}{% if editions[0].tagline  %}"{{ editions[0].tagline | markdown | replace('<p>', '') | replace('</p>', '') }}"{% endif %}{% endif %}<br />

editions:<br />{% for row in object.editions %}
$$- type: {{ row.type }}<br />
$$$$image: {{ row.image.url }}<br />
$$$$forsale: {% if row.for_sale %}true{% else %}false{% endif %}<br />
$$$$tagline: "{{ row.tagline }}"<br />
$$$$isbn: {{ row.isbn }}<br />
$$$$saleprice: {{ row.sale_price }}<br />
$$$$shipping_charge: {{ row.shipping_charge }}<br />
$$$$price_us: {{ row.price_us }}<br />
$$$$price_cn: {{ row.price_cn }}<br />
$$$$trim_size: {{ row.trim_size }}<br />
$$$$Page_count: {{ row.page_count }}<br />
{% endfor %}








slug: {{ object.slug | replace('book/', '') }}<br />
---<br />

{{ object.copy | safe }}
{% endfor %}
<br />
{% endblock %}
