{% extends "templates/partials/base.html" %}
{% set event_date = item.start_date|date('U') %}
{% set start_time = item.start_date|date('g:ia') %}

{% set prev = prevItem(item, 'start_date') %}
{% set next = nextItem(item, 'start_date') %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
    {% include "templates/partials/hero-article-page.html" %}
  {% endblock %}
{% block content %}
<div class="has-layout layout-article">
  <article class="hentry">
    {% if item.name %}
      <header>
        <h1 class="entry-title">{{ item.name }}</h1>
      </header>
    {% endif %}
    <aside>

     <h5>
         {% include "templates/partials/format-event-dates.html" %}
        </h5>

        <hr />

        {% set relatedAuthor = item.related_author %}
        {% for object in relatedAuthor %}
        <h4><a href="{{ url(object) }}">
          {{ object.name }}
        </a></h4>
        {% endfor %}
          <hr class="transparent" />
      {% set relatedBook = item.related_book %}
        {% for object in relatedBook %}
        <a href="{{ url(object) }}">
          {% include "templates/partials/format-image-sidebar.html" %}
        </a>  
        <hr class="transparent" />
        {% endfor %}

    </aside>
    <div class="entry-content prose">
        {% if item.lede %}
        <div class="lede">{{ item.lede|markdown }}</div>
        {% endif %}

      {{ item.copy|safe }}

{% include "templates/partials/format-event-detail.html" %}





    </div>
  </article>
</div>
      {# LINKS TO PREV NEXT BOOKS #}
     
      {% include "templates/partials/prev-next.html" %}
{% endblock %}


{# TODO: Add visual prev/next #}