{% extends "templates/partials/base.html" %}
{% block body_class %} home{% endblock %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% if cms.global.featured_image %}
  {% block head_extra %}
    {#  Adds CSS Styles to the head to show featured image in the hero unit  #}
    {% include "templates/partials/head_extra.html" %}
  {% endblock %}
{% endif %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
    {% include "templates/partials/hero-home.html" %}
  {% endblock %}
{% block content %}
  {% set articles = cms.article|where('featured', true) %}
  {% set articles = articles|sort('publish_date') %}
  {% set upcoming_events = cms.event|where('featured') %}
  {% set upcoming_events = upcoming_events|sort('start_date', true) %}
  {% set home = cms.homepage %}

  {% if upcoming_events or articles %}
    <ul class="large" style="margin:4em auto;">
  {% endif %}
  {% if upcoming_events %}
    {% for event in upcoming_events|slice(0,1) %}
      {% set event_date = event.start_date|date('U') %}
      {% if event_date > current_unix_date %}
        <li class="centered">
          <strong>Event: </strong><a href="{{ url(event)}}">{% if event.start_date %}{{ event.start_date|date('M jS') }} – {% endif %}{% filter replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') %}{{ event.name | markdown }}{% endfilter %}</a>
        </li>
        {% endif %}
    {% endfor %}
  {% endif %}
  {% if articles %}
    {% for object in articles|slice(0,2) %}
      <li class="centered">
        {# <strong>Update: </strong> #}<a href="{{ url(object) }}">{% filter replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') %}{{ object.name | markdown }}{% endfilter %}</a>
      </li>
    {% endfor %}
  {% endif %}
  {% if events or articles %}
  </ul>
  {% endif %}



  {% for object in home|slice(0,1) %}{#  //THESE ARE ALL THE HOMEPAGE OPTIONS SET IN THE CP #}
    {% set grid    = object.grid %}
    {% set review  = object.featured_review %}
    {% set books   = object.featured_books %}

    {% if grid %}{#  // IF WE SET GRID ITEMS #}
      <div id="grid-container" class="grid-items">
        {% for row in grid %}
          {% include "templates/partials/format-grid-items.html" %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="clear" style="width:100%;clear:both;"></div>

    {% if review %}{#  // IF WE SET A REVIEW #}
      <div class="page-item clear" style="background:none;"> {# {% cycle 'one', 'two', 'three' %} #}
        <section>
          <blockquote class="review presentational" >
            {% include "templates/partials/format-quotes.html" %}
          </blockquote>
        </section>
      </div>
    {% endif %}

    {% if books %}{#  // IF WE FEATURE BOOKS #}
      {% for object in books|slice(0,25) %}
        {% set edition = object.editions|first %}
        {% set publication_date = object.publication_date %}
        {% set publication_date_unix = publication_date|date('U') %}
        {% set show_date = 'yes' %}
          {% include "templates/partials/format-books-list.html" %}
      {% endfor %}
    {% endif %}

  {% endfor %} {#  //END for object in home #}


  {% include "templates/partials/layout-mailing-list.html" %}
  <section class="row" style="margin:3em .375em;">
    {% include "templates/partials/cards-articles.html" %}
  </section>
{% endblock %}

{% block scripts_extra %}
{#   <script type="text/javascript" src="/static/javascript/dist/scripts-masonry.min.js" async></script> #}

<script type="text/javascript">
function downloadJSAtOnload() {
  var element_masonry = document.createElement("script");
  element_masonry.src = "/static/javascript/dist/scripts-masonry.min.js";
  document.body.appendChild(element_masonry);

  // var element_addthis = document.createElement("script");
  // element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
  // document.body.appendChild(element_addthis);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
{% endblock %}
