{% set now = Date() %}
{% set current_unix_date = now |date('U') %}
{% set editions = editions|exclude('for_sale', 'false') %}
{% set pubdate = publication_date|date('U') %}
<div id="buy-links">
{# <h5>{% if pubdate < current_unix_date %}buy{% else %}preorder{% endif %} <em>{{ item.name }}</em> from these retailers</h5> #}
  <p>
    <strong>
      {% for edition in editions %}
        {% if edition.isbn %}
          {% set isbn = edition.isbn %}
          {% if loop.first %}Available editions: {% endif %}{{ edition.type }}{% if loop.revindex != 2 %}{% if not loop.last %}, {% endif %}{% endif %}{% if loop.revindex == 2 %} and {% endif %}
        {% endif %}
      {% endfor %}
    </strong>
  </p>
  <ul class="links">
    {% set editions_physical = editions|exclude('type', 'Ebook') %}
      {% for edition in editions_physical|slice(0,1) %}
        {% if edition.isbn %}
          {% set isbn = edition.isbn %}            
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn={{ isbn }}" target="_blank" class="{{ edition.type }}">
                Your Independent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={{ isbn }}" target="_blank" class="{{ edition.type }}">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_{{ isbn }}'></li><!--  pulls in 10 digit ASIN for -->
            {% include "templates/partials/buy-links-isbn10to13.js" %}
        {% endif %}
      {% endfor %}
    {% set edition_digital = editions|where('type','Ebook') %}
    {% for edition in edition_digital %} {# if it's an ebook just show that because the print retailers will also sell the ebook (works as long as there's no ebook only) #}
      {% if edition.isbn %}
        {% set isbn = edition.isbn %}      
        <li>
          <a href="http://itunes.apple.com/us/book/isbn{{ isbn }}" target="_blank" class="{{ edition.type }}">
            Apple iBooks
          </a>
        </li>
      {% endif %}   
    {% endfor %}
  </ul>
</div>