{% set editions = editions %}
{% for edition in editions|where('sale_price') %}
  <a
    style="margin-top:-2em;text-align:right;"
    href="#"
    class="snipcart-add-item"
    data-item-id="{{ item._id }}"
    data-item-name="{{ item.name }}"
    data-item-price="{{ edition.sale_price}}"
    data-item-weight="20"
    data-item-url="{{ getSetting('site_url') }}{{ url(item) }}"
    data-item-description="{{ edition.type }}"
  >
    <button type="button" name="button" class="special">
      Buy {{ item.name}}
    </button>
  </a>
  <small>
    {{ edition.type }} - ${{ edition.sale_price }}
    {% if edition.shipping_charge %}
      {% if edition.shipping_charge < '0.01' %}
        &nbsp;Free Shipping
      {% endif %}
    {% endif %}
  </small>
  <hr />
{% endfor %}