{% set now = Date() %}
{% set current_unix_date = now |date('U') %}

<div class="modal">
  <label for="modal-1">
    <button name="button" class="buy btn js-btn">
    {% for edition in editions %}
      {% set pubdate = object.publication_date|date('U') %}
      {% if pubdate < current_unix_date %}buy{% else %}preorder{% endif %} {{ edition.type }}
     {% endfor %} 
    </div>
  </button>
  </label>
  

     
     
{% set editions = editions|exclude('for_sale', 'false') %}
{% set pubdate = object.publication_date|date('U') %}

{# <h5>{% if pubdate < current_unix_date %}buy{% else %}preorder{% endif %} <em>{{ object.name }}</em> from these retailers</h5> #}

  <p>
    <strong>
      {% for edition in editions %}
        {% if edition.isbn %}
          {% set isbn = edition.isbn %}
          {% if loop.first %}Available editions: {% endif %}{{ edition.type }}{% if loop.revindex != 2 %}{% if not loop.last %}, {% endif %}{% endif %}{% if loop.revindex == 2 %} and {% endif %}
        {% endif %}
      {% endfor %}
    </strong>
  </p>

  {% for edition in editions %}
    {% if edition.isbn %}
      {% set isbn = edition.isbn %}
    {% endif %}

    <ul class="links">
      {% if edition.type == 'Ebook' %}
        <li>
          <a href="http://itunes.apple.com/us/book/isbn{{ isbn }}" target="_blank" >
            Apple iBooks
          </a>
        </li>
      {% else %}          
        <li>
          <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={{ isbn }}" target="_blank" >
            Barnes & Noble
          </a>
        </li>
        <li>
          <a href="http://www.indiebound.org/product/info.jsp?isbn={{ isbn }}" target="_blank" >
            Your Indpendent Bookstore
          </a>
        </li>              
        <li id='isbn10_{{ isbn }}'></li><!--  pulls in 10 digit ASIN for -->
      {% endif %}
    </ul>
    {% include "templates/partials/buy-links-isbn10to13.js" %}
  {% endfor %}
  