{% set articles = cms.article %}
{% set articles = articles|sort('publish_date', true)|slice('0','4') %}

<div class="cards">
{% for article in articles %}
  <div class="card">
  {% if article.featured_image %}
    <div class="card-image">
      <img src="{{ article.featured_image|imageCrop(340) }}" alt="">
    </div>
    {% endif %}
    <div class="card-header">
      <small>{{ article.publish_date|date('F d, Y') }}</small>
      <h5>
       {{ article.name }} <i class="icon-right-circled"></i>
      </h5>
    </div>
    <div class="card-copy" style="display:none;">
      {% if article.lede %}
        <div class="excerpt">
          {% filter replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') %}{{ article.lede|markdown }}{% endfilter %}
        </div>
      {% else %}
        <blockquote class="quote_excerpt">              
          {{ article.excerpt }}
        </blockquote>
      {% endif %}
    </div>
  </div>
{% endfor %}  
</div>