<div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo"><img src="/static/images/nd-logo-777.svg" alt=""></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Booksellers</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr class="fancy" />

<div class="copy">{{ global.site_description|safe }}</div>



  <ul class="subfooter no-bullet small-print inline">
      <li class="source-org vcarfd copyright">
        <a href="{{site.url}}"><span class="org fn">&copy; {{ now|date('Y') }} {{ getSetting('site_name') }}</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>


</footer>
