{% set editions = object.editions %}

  {% if editions %}
    {% if editions[0].image %}
      <img src="{{ editions[0].image|imageSize(750) }}" alt="cover image for {{ item.name }}">
    {% else %} {# //EVENTUALLY, ALL IMAGES WILL COME FROM THEIR EDITIONS, BUT FOR NOW, WE NEED TO GIVE OTHER OPTIONS #}
      {% if object.image %}
        <img src="{{ object.image|imageSize(300) }}">
      {% elseif object.image_file %}
        <img src="{{ global.cdn_link }}{{ object.image_file }}" style="width:100%;">
      {% endif %}
    {% endif %}
  {% endif %}
