{% if editions[0].image %}
  <img src="/static/images/placeholder-300x450_wr.png" data-src="{{ editions[0].image|imageSize(350) }}" alt="cover image for {{ object.name }}" class="width-200 book-cover">
    <noscript>
      <img src="{{ editions[0].image|imageSize(350) }}" alt="cover image for {{ object.name }}" class="width-200 book-cover">
    </noscript> 
 {# //EVENTUALLY, ALL IMAGES WILL COME FROM THEIR EDITIONS, BUT FOR NOW, WE NEED TO GIVE OTHER OPTIONS #}
  {% elseif object.image %}
    <img src="/static/images/placeholder-300x450_wr.png" data-src="{{ object.image|imageSize(350) }}" alt="cover image for {{ object.name }}" class="width-200 book-cover">
      <noscript>
        <img src="{{ object.image|imageSize(350) }}" alt="cover image for {{ object.name }}" class="width-200 book-cover">
      </noscript> 
  {% elseif object.image_file %}
    <img src="/static/images/placeholder-300x450_wr.png" data-src="{{ global.cdn_link }}{{ object.image_file }}" alt="cover image for {{ object.name }}" class="width-200 book-cover" />
      <noscript>
        <img src="{{ global.cdn_link }}{{ object.image_file }}" alt="cover image for {{ object.name }}" class="width-200 book-cover" />
      </noscript>
  {% elseif item.image %}
    <img src="/static/images/placeholder-300x450_wr.png" data-src="{{ item.image|imageSize(500) }}" alt="cover image for {{ item.name }}" class="width-200 book-cover" />
      <noscript>
        <img src="{{ item.image|imageSize(350) }}" alt="cover image for {{ item.name }}" class="width-200 book-cover" />
      </noscript>
  {% elseif item.image_file %}
    <img src="/static/images/placeholder-300x450_wr.png" data-src="{{ global.cdn_link }}{{ item.image_file }}" alt="cover image for {{ item.name }}" class="width-200 book-cover" />
      <noscript>
        <img src="{{ global.cdn_link }}{{ item.image_file }}"  alt="cover image for {{ item.name }}" class="width-200 book-cover" />
      </noscript>
{% endif %} {# //end if editions image #}
      
      














