{% if object.image %}
  <img src="{{ object.image|imageSize(300) }}" alt="cover image for {{ object.name }}">
{% elseif object.image_file %}
  <img src="{{ global.cdn_link }}{{ object.image_file }}" alt="cover image for {{ object.name }}" class="width-300" />
{% elseif item.image %}
  <img src="{{ item.image|imageSize(500) }}" alt="cover image for {{ item.name }}" class="width-300" />
{% elseif item.image_file %}
  <img src="{{ global.cdn_link }}{{ item.image_file }}" alt="cover image for {{ item.name }}" class="width-300" />
{% endif %}