
<div id="buy-links">

<div class="row row-center"  id="{{object.slug}}">
  <section class="interior spaced-bottom-2em">
      {% set editions = editions %}
      {% if item.editions.for_sale %}
        {% set editions = editions|exclude('for_sale', false) %}
        {% endif %}            

      {% for row in editions %}

        <ul class="stats">
          {% if row.type %}
            <h6 style="text-align:left;">{{ row.type }}</h6>
          {% endif %}
          {% if row.isbn %}
            <li>
              {{ row.isbn }}<span>&nbsp;ISBN </span>
            </li>
          {% endif %}
          {% if row.price_us %}
            <li>
              {{ row.price_us }}<span>Price US</span>
            </li>
          {% endif %}
          {% if row.price_cn %}
            <li>
              {{ row.price_cn }}<span>Price CN</span>
            </li>
          {% endif %}
          {% if row.trim_size %}
            <li>
              {{ row.trim_size }}<span>Trim Size</span>
            </li>
          {% endif %}
          {% if row.page_count %}
            <li>
              {{ row.page_count }}<span>Page Count</span>
            </li>
          {% endif %}
        </ul>
        <hr />
      {% endfor %}
  </section>
</div>