{# Takes variable "includeBuyInfo" true/false #}
<h1 class="book-title">
  <a href="{{ url(object) }}">
    {{ object.name }} <i class="icon-right-circled"></i>
  </a>
</h1>
<div class="facing-item">
 {% if includeAuthors != false %} 
    <h2>
      <small>
        {% if object.genre %}{{ object.genre }}{% endif %} 
         by {% include "templates/partials/format-authors-list.html" %}
      </small>
    </h2>
   {% if translators %}
      <h5 style="font-weight:400;">
        {% include "templates/partials/format-translators-list.html" %}
      </h5>          
    {% endif %}
    {% if editors %}
      <h5 style="font-weight:400;">
        {% include "templates/partials/format-editors-list.html" %}
      </h5>          
    {% endif %}
    {% if contributors %}
      <h5 style="font-weight:400;">
        {% include "templates/partials/format-contributors-list.html" %}
      </h5>          
    {% endif %}
<br />
{% endif %}







































  {% if object.copy %}
    {{ object.copy|safe }}
  {% endif %}
  {% if publication_date_unix > current_date %}
    <hr class="transparent" />
    <h5 class="red">Available: {{ publication_date|date('F d Y') }}</h5>
  {% endif %}
</div>
<hr class="transparent" />
<a href="{{ url(object) }}"><button name="button"> more information </button> </a>
{% if includeBuyInfo != false %}
  {% if editions %}
    {% set editions = editions|exclude('for_sale', false) %}
  {% endif %}
  {% if editions %}
    <hr class="transparent" />
    {% include "templates/partials/buy-links.html" %}
  {% endif %}
{% endif %}