{% if item.start_date %} 
  {% set start_date = item.start_date %} 
  {% set end_date = item.end_date %}
  {% set show_time = item.show_time %}
{% else %}
  {% set start_date = event.start_date %}
  {% set end_date = event.end_date %}
  {% set show_time = event.show_time %}
{% endif %}
{% if event_date < current_unix_date %}{#  If event is past, don't show the time #}
{{ start_date|date('F jS, Y') }}{% else %}{{ start_date|date('F jS') }}{# Show Date #}{% if !end_date %}{# If it's not a multi-day event, see if we want to show the time #}{% if show_time == true %}{# Have we checked that we want to show the time? #} {{ start_time }}{# If so, show it #}{% endif %}{% endif %}{% endif %}{% if end_date %} - {{ end_date|date('F jS') }}{% endif %}