{# set imageWidth = 'x' anywhere along the chain #}

{% if edition.image %}
{% set image = edition.image|imageSize(750) %}
{% elseif object.image_file %}
{% set image = global.cdn_link + object.image_file %}
{% elseif item.image_file %}
{% set image =  global.cdn_link + item.image_file %}
{% endif %}


<img src="/static/images/placeholder-300x450_wr.png" data-src="{{ image }}" alt="cover image for {{ object.name }}" class="transition book-cover" style="max-width:{{ imageWidth }};">
<noscript>
  <img src="{{ image }}" alt="cover image for {{ object.name }}" class="book-cover">
</noscript> 
