<a href="{{ url(object) }}" class="grid-item grid-item-small" style="height:465px;background-color:#F1F1F1;">{# F1F1F1 #}
  {% if show_date == 'yes' %}
    <h4 class="title small"><span class="{% if publication_date_unix > current_date %}red{% endif %}">{{ publication_date|date('F jS, Y', 240) }}</span></h4>
  {% endif %}
    {% set imageWidth = '100%' %}
  <div style="width:80%;margin:0 auto;">
    {% include "templates/partials/format-image-bookcover-medium.html" with imageWidth %}
    <div class="name centered small">{{ object.name }}</div>
    <span class="slug hidden">{{ object.slug|replace('book/', '') }}</span>
    <span class="subtitle hidden">{{ object.subtitle }}</span>
  {% for author in object.authors %}
    <span class="author-{{ loop.index }} hidden">{{ author.name }}</span>
    <span class="author-slug-{{ loop.index }} hidden">{{ author.slug|replace('author/', '') }}</span>
  {% endfor %}
  </div>
</a>       
