{% set editions              = object.editions %}
{% set current_date          = now|date('U') %}
{% set publication_date      = object.publication_date %}
{% set publication_date_unix = publication_date|date('U') %}
{% set imageWidth = '180px' %}
{# TODO: If using smaller images, add class book-cover-show-larger #}

  <section class="flex-box case-{{ loop.index }}"  id="{{ object.slug|replace('/', '') }}">
    <div class="book-cover">
      {% include "templates/partials/format-image-bookcover-small.html" with imageWidth %}
      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h3 class="flex-title">
        <a href="{{ url(object) }}">
          {{ object.name }} <i class="icon-right-circled"></i>
        </a>
      </h3>
      
         {% if object.editions %}
            {% if object.editions[0].tagline %}
              <div class="taglineTK">
                {{ object.editions[0].tagline|markdown }}
            {% endif %}
        {% endif %}
        
              {% if publication_date_unix > current_date %}
                <hr class="transparent" />
                <h5 class="red">Available: {{ publication_date|date('F d Y') }}</h5>
              {% endif %}
    
      {# <button name="button"> <a href="{{ url(object) }}">Read More</a> </button>  #}

    </div>
  </section>

