
  <a href="{{ url(object) }}" class="grid-item" style="background-image:url(
  {% if editions %}
    {% if editions[0].image %}
      {{ editions[0].image|imageSize(750) }}
    {% else %}
      {% if object.image %}
        {{ object.image|imageSize(300) }}
      {% elseif object.image_file %}
        {{ global.cdn_link }}{{ object.image_file }}
      {% endif %}
    {% endif %}
  {% endif %}
);">

  {# <div class="ribbon-wrapper">
    <div class="ribbon">Barbara's Fave</div>
  </div>
 #}    
    </a>

