{% if row.copy %}
  {% if row.link %}
    <a href="{{ row.link }}?utm_source=grid-items&utm_medium=image&utm_campaign=nd-homepage" class="grid-item grid-item-image item {% if loop.index == 1 %} grid-item-bigTK{% endif %}" style="height:auto;">
      {{ row.copy|safe|replace('<a href', '<span src', 'g')|replace('</a', '</span', 'g') }}
    </a>
  {% else %}
  <div class="grid-item grid-item-image item {% if loop.index == 1 %} grid-item-bigTK{% endif %}" style="height:auto;">
    {{ row.copy|safe|replace('<a href', '<span src', 'g')|replace('</a', '</span', 'g') }}
  </div>
  {% endif %}
{% endif %}