{% if object.image %}
  <img data-aload="{{ object.image|imageSize(300) }}" alt="cover image for {{ object.name }}">
    <noscript>
      <img src="{{ object.image|imageSize(300) }}" alt="cover image for {{ object.name }}">
    </noscript>
{% elseif object.image_file %}
  <img data-aload="{{ global.cdn_link }}{{ object.image_file }}" alt="cover image for {{ object.name }}" class="width-300" />
    <noscript>
      <img src="{{ global.cdn_link }}{{ object.image_file }}" alt="cover image for {{ object.name }}" class="width-300" />
    </noscript>
{% elseif item.image %}
  <img data-aload="{{ item.image|imageSize(500) }}" alt="cover image for {{ item.name }}" class="width-300" />
    <noscript>
      <img src="{{ item.image|imageSize(500) }}" alt="cover image for {{ item.name }}" class="width-300" />
    </noscript>
{% elseif item.image_file %}
  <img data-aload="{{ global.cdn_link }}{{ item.image_file }}" alt="cover image for {{ item.name }}" class="width-300" />
    <noscript>
      <img src="{{ global.cdn_link }}{{ item.image_file }}" alt="cover image for {{ item.name }}" class="width-300" />
    </noscript>
{% endif %}