{% if resetHeroBackgroundTop %}
  {% set heroBackgroundTop = resetHeroBackgroundTop %}
{% else %}
  {% set heroBackgroundTop = 0.5 %}
{% endif %}

{% if resetHeroBackgroundBottom %}
  {% set heroBackgroundBottom = resetHeroBackgroundBottom %}
{% else %}
{% set heroBackgroundBottom = 0.37 %}
{% endif %}


{% for object in objects %}
  {% set featured_image_object = object.featured_image.url %}  
{% endfor %}
{% set base_url = getSetting('site_url') %}
{% set featured_image = item.featured_image|imageSize(1600,auto) %}  
{% if featured_image %}
  {% set background_image = base_url + featured_image %}
{% elseif featured_image_object %}
  {% set background_image = base_url + featured_image_object %}
{% else %}
  {% set background_image = cms.global.featured_image.url %}
{% endif %} 
<style type="text/css">

.{{heroBackgroundTop}}{}
  .gradient {
    background-color: #101010;
    background-image: url({{ background_image }});
    background-position: center {{global.featured_image_position}};
    background-size: 100%;
    background-repeat: no-repeat;
  }


  
  @media screen and (min-width: 37.5em) {
    .hero {
      {% if global.banner_height %}height:{{ global.banner_height }}px;{% endif %}
    }
    /*body.home .hero {
      height:520px;
    }*/
    .gradient {
      background: -moz-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%, rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;
      
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %})), color-stop(100%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}))), url({{ background_image }}) no-repeat top center;
      
      background: -webkit-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;
      
      background: -o-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;
      
      background: -ms-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;
      
      background: linear-gradient(to bottom,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;
      
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#5e000000',GradientType=0 );
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ background_image }}',sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ background_image }}',sizingMethod='scale')";
      
      
      background-size:cover;
  } 
   .background-fixed {
      background-attachment: fixed;
    }
  }
</style>
