 <div class="hero">    
    {% include "templates/partials/navigation.html" %}
      {% if item.featured_image %}
      
        <div class="hero-inner" style="
  background-image: url({{ item.featured_image|imageSize(1600) }});background-position:center {% if item.featured_image_position %}{{ item.featured_image_position }}{% else %}center{% endif %};background-size:100%;{% if item.banner_height %}height:{{ item.banner_height }}px;{% endif %}background-repeat: no-repeat;">


  

          <div class="hero-copy">
            {% if reviews_of_this_author %}
              {% for review in reviews_of_this_author|slice(0,1) %}
              <blockquote id="container-review-single" class="review">        
                {% include "templates/partials/format-quotes.html" %}         
              </blockquote>
              {% endfor %}
            {% endif %}
         </div> 
        </div>
      
    {% endif %}



</div> 