<div class="hero-inner">
      <header class="books">
        {% if item.name %}
          <h1 class="entry-title">{{ item.name }}{% if item.subtitle %} <small>{{ item.subtitle }}</small>{% endif %}</h1>
        {% endif %}
          {% set authors = item.authors %}
        {% if authors %}
        <h2><small>by</small> 
          {% for author in authors %}
            <a href="{{ url(author) }}">{{ author.name }}</a>{% if loop.revindex != 2 %}{% if not loop.last %}, {% endif %}{% endif %}{% if loop.revindex == 2 %} and {% endif %}
          {% endfor %}
          </h2>
        {% endif %}
        <ul class="links">
          <li>
            <a href="">buying options</a>
          </li>
          <li>
            <a href="">reviews</a>
          </li>
          <li>
            <a href="">more</a>
          </li>
        </ul>
      </header>
    </div>