{% if item.featured_image %}
 {% include "templates/partials/head_extra.html" %} 
    <div class="hero gradientTK featured_image background-fixed" data-velocity=".4" data-fit="0" data-search-index="false">
  {% else %}
    <div class="hero" data-search-index="false">
  {% endif %}
    {% include "templates/partials/navigation.html" %}
  {# //============================= #}
{% if item.quote %}
{% set review = item.quote %}
{% endif %}

{% set page_name = item.name %}

  {% if item._type == 'author' %}
    {% set reviews_of_this_author = item.reviews_about %}
      {% if not item.featured_image %}      
        <div class="hero-inner">
          <div class="hero-copy">
            {% if reviews_of_this_author %}
              {% for review in reviews_of_this_author|slice(0,1) %}
              <blockquote id="container-review-single" class="review">        
                {% include "templates/partials/format-quotes.html" %}         
              </blockquote>
              {% endfor %}
            {% endif %}
         </div> 
      </div>
    {% endif %}
    
    {% elseif item._type == 'event' %}

    <div class="hero-inner">
          <div class="hero-copy">
            
              
               <h2> {% include "templates/partials/format-event-dates.html" %}</h2>
              
            
         </div> 
      </div>



    {% else %}

  {% if review %}
    <div class="hero-inner">
      <div class="hero-copy">
        <blockquote id="container-review-single" class="review">        
          {% include "templates/partials/format-quotes.html" %}         
        </blockquote>
      </div>
    </div>
  {% else %}
      <h1 class="page-heading">{# {{ page_name }} #}</h1>
  {% endif %}
{% endif %}


{# //============================= #}
  </div> 