{% if global.featured_image %}
    <div class="hero featured_image"  style="
      background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.63) 25%,rgba(0,0,0,0.07) 87%,rgba(0,0,0,0.07) 100%),url({{ global.featured_image|imageSize(1600) }}) no-repeat center {% if global.featured_image_position %}{{ global.featured_image_position }}{% else %}center{% endif %};
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#8c000000',GradientType=0 );
      background-size:cover;{% if global.banner_height %}height:100vh;{% endif %}background-attachment: fixed;" data-velocity=".4" data-fit="0">
  {% else %}
    <div class="hero">
  {% endif %}
    {% include "templates/partials/navigation.html" %}
  

{# //============================= #}


{% set section = global.home_page_grid %}

{% for row in section %} 
  {% for review in row.quote %}
    <div class="hero-inner">
      <div class="hero-copy">
        <blockquote id="container-review-single" class="home">        
          {# <p style="font-size:46px;font-family:'Verlag A', 'Verlag B';font-weight:800;">Astonishing—turns Don Quixote into Picasso.</p>
          Harper's on <em>The Musical Brain <small>and Other Stories</small></em> #}
          {% include "templates/partials/format-quotes.html" %}         
        </blockquote>
      </div>
    </div>
  {% endfor %}
{% endfor %}
</div> 