<div class="hero">
  {% include "templates/partials/navigation.html" %}
  <div class="hero-inner">
    <div class="hero-copy">      
      <input class="search" type="search" placeholder="filter" style="display:inline-block;" onclick="trigger()" />      
      {# <form action="/books/" class="search-form" method="get" data-search-index="false" style="padding-bottom:0;">
        <input class="search" type="search" placeholder="search" id="tipue_search_input" name="q" style="display:inline-block;">
      </form> #}      
    </div>
  </div>
</div> 