{% if global.featured_image %}
  <div class="hero gradient background-fixed">
    {% include "templates/partials/navigation.html" %}
    {% set section = global.home_page_grid %}
    {% for row in section %} 
      {% for review in row.quote %}
        <div class="hero-inner">
          <div class="hero-copy">
            <blockquote id="container-review-single" class="home">        
              {% include "templates/partials/format-quotes.html" %}         
            </blockquote>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% else %}
  {% include "templates/partials/navigation.html" %}
{% endif %}