<!-- Metadata -->
{# TODO: add og, twitter card  #}
{#   http://ogp.me/ #}
  
  <meta content="{{ getSetting('site_url') }}{{ getCurrentUrl() }}" property="og:url">
  <meta content="{{ global.name }}" property="og:site_name">
  {% if item.meta_description %}
    <meta property="og:description" content="{{ item.meta_description }}">
  {% elseif item.name %}
    <meta property="og:description" content="{{ item.name }}">
  {% else %}
    <meta property="og:description" content="{{ global.meta_description  }}">
  {% endif %}

          
  {% if books %}
    <meta property="book:author" content="{{ global.name }}">
    {% for book in books %}
      {% for edition in book.editions|slice(0,1) %}
        <meta property="book:isbn" content="{{ edition.isbn }}">
        <meta property="book:release_date" content="{{ edition.publication_date|date('Y-m-d') }}">
        {# <meta name="book:tag" content=""> #}
      {% endfor %}  
    {% endfor %}
      <meta property="og:type" content="website" > {#  FB bonks using 'book' here because the profile is not valid - it must be a FB profile #}
    {% else %}
      <meta property="og:type" content="website" >    
  {% endif %}

  

  {% if item.featured_image %}
    <meta content="{{ item.featured_image.url }}" property="og:image" data-type="featured image">
  {% elseif books %}
    {% for book in books %}
      {% for edition in book.editions|slice(0,1) %}
        <meta content="{{ getSetting('site_url') }}{{ edition.cover_image.url }}" property="og:image" data-type="book image">
      {% endfor %}  
    {% endfor %}  
    {% else %}
    <meta content="{{ getSetting('site_url') }}{{ global.featured_image.url }}" property="og:image" data-type="global image">  
  {% endif %}
  <meta property="og:image:type" content="image/jpeg" />


<meta property="profile:first_name" content="{{ cms.global.full_name.last }}">
<meta property="profile:last_name" content="{{ cms.global.full_name.last }}">


