<header class="navigation" data-search-index="false">
  <div class="menu-wrapper">

      <nav data-search-index="false">
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/"{% if getCurrentUrl() == '/books/' %} class="active"{% endif %} tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/"{% if getCurrentUrl() == '/authors/' %} class='active'{% endif %} tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/"{% if getCurrentUrl() == '/about/' %} class='active'{% endif %} tabindex="4" data-ga-click="Header, go to explore, text:explore">About</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/"{% if getCurrentUrl() == '/about/resources/' %} class='active'{% endif %} tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/"{% if getCurrentUrl() == '/blog/' %} class='active'{% endif %} tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/"{% if getCurrentUrl() == '/events/' %} class='active'{% endif %} tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        <li class="nav-sidebar-item{% if getCurrentUrl() == url(article) %} class='active'{% endif %}"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
        {# <li class="nav-sidebar-item"><a href="/history/"{% if getCurrentUrl() == '/history/' %} class='active'{% endif %} tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>#}
        <li class="nav-sidebar-item"><a href="/about/contact/"{% if getCurrentUrl() == '/about/contact/' %} class='active'{% endif %} tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content" data-search-index="false">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/"{% if getCurrentUrl() == '/books/' %} class='active'{% endif %} tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/"{% if getCurrentUrl() == '/authors/' %} class='active'{% endif %} tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/"{% if getCurrentUrl() == '/about/resources/' %} class='active'{% endif %} tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/"{% if getCurrentUrl() == '/blog/' %} class='active'{% endif %} tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/"{% if getCurrentUrl() == '/events/' %} class='active'{% endif %} tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    {# <li class="nav-sidebar-item"><a href="/shop/"{% if getCurrentUrl() == '/shop/' %} class='active'{% endif %} tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li> #}
    <li class="nav-sidebar-item"><a href="/about/"{% if getCurrentUrl() == '/about/' %} class='active'{% endif %} tabindex="13" data-ga-click="Header, go to explore, text:explore">About</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/"{% if getCurrentUrl() == '/about/contact/' %} class='active'{% endif %} tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>


  </ul>
</nav>
<div class="js-menu-screen sliding-menu-fade-screen"></div>
