<header class="navigation">
  <div class="menu-wrapper">

      <nav>
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/" tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/" tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/" tabindex="4" data-ga-click="Header, go to explore, text:explore">About</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/" tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/" tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        {# <li class="nav-sidebar-item"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li> #}
        <li class="nav-sidebar-item"><a href="/history/" tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>
        <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/" tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/" tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/" tabindex="13" data-ga-click="Header, go to explore, text:explore">History</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/" tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/" tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    <li class="nav-sidebar-item"><a href="/shop/" tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
  </ul>
</nav>
<div class="js-menu-screen menu-screen"></div>
