<div class="page-icons">
  {% if prev %}    
    <a class="previous" href="{{ url(prev) }}"><i class="icon-ion-chevron-left"></i> <span class="prev-title">{{ prev.name }}</span></a>
  {% endif %}
  {% if next %}
    <a class="next" href="{{ url(next) }}"><span class="prev-title">{{ next.name }}</span> <i class="icon-ion-chevron-right"></i></a>
  {% endif %}
</div>
<script>
  document.body.onkeyup = function(e){
    {% if prev %}if (e.keyCode == '37') { window.location = '{{ url(prev) }}'; }{% endif %}
    {% if next %}if (e.keyCode == '39') { window.location = '{{ url(next) }}'; }{% endif %}
  };
</script>