<script src="/static/javascript/dist/scripts.min.js" async></script>
{# <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-539e3ee23fa64675" async="async" async></script> #}
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,500:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>