{% set shop_items = cms.shopitem %}
{% if shop_items %}
<div id="section1" class="centered layout-page-2-column-wide-secondaryf" style="margin-bottom:4em;">
  <h4 class="centered special-inverse">
    <a href="/shop/">
        On Sale Now at Our Shop Page
        {% if shop_items[0].copy %}<br />
        {{ shop_items[0].copy | safe }}
      {% endif %}
    </a>
  </h4>
  {% for shop_item in shop_items %}
    {% set books = shop_item.book %}
      {% if books %}{#  // IF WE FEATURE BOOKS #}
        {% for object in books|slice(0,25) %}
            <a href="/shop/" style="padding:0 1em;">{{ object.name }}</a>
        {% endfor %}
      {% endif %}
  {% endfor %}
  </div>
  {% endif %}
