{{ define "main" }}
{{/* If we want to paginate use this, otherwise below pulls books: {{ $section := (.Paginator 2000).Pages  }} */}}
  {{ $section := .Data.Pages }}
  {{ $authors :=  where .Site.RegularPages "Section" "author" }}
  <div class="{{ $.Param "page_padding_classes" }}">
    <h1 class="">
      {{ .Title }}
    </h1>
    {{ partial "page-content.html" . }}



    {{/* HEADER */}}
    <div class="b bb b--gray flex flex-wrap mb2 pb2">
      <div class="w-100 w-40-ns">Title</div>
      <div class="w-100 w-20-ns">Author</div>
      <div class="w-100 w-20-ns">Publication Date</div>
      <div class="w-100 w-20-ns">Genre</div>
    </div>

    <div class="striped--light-silver">
      {{ range  $section }}
        {{ $related_authors := .Params.author }}
        {{ $b := where ($authors) ".File.Path" "in" $related_authors }}
        <div class="flex flex-wrap striped--light-gray w-100 pv2">
          <div class="w-100 w-40-l">{{- .Title -}}</div>
          <div class="w-100 w-20-l">{{ range $i, $b := $b }}{{ if $i }}, {{ end }}<a href="{{ .URL }}" class="dim link black">{{ .Title }}</a>{{ end }}
          </div>
          <div class="w-100 w-20-l">{{ .Date.Format "Jan 02, 2006" }}</div>
          <div class="w-100 w-20-l">{{ humanize .Params.genre }}</div>
        </div>
      {{ end }}
    </div>
  {{/* {{ template "_internal/pagination.html" . }} */}}
  </div>
{{ end }}
