
  <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
      
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='http://storage.googleapis.com/'>
    <link rel='dns-prefetch' href='https://lh3.ggpht.com'>



  
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>New Directions Publishers</title>
  
  
  
  <link href='/static/css/screen.css?generated=1423839220' rel='stylesheet' type="text/css" />
  
   

  
  <!--[if lte IE 7]>
    <link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/static/javascript/modernize/modernize.min.js"></script>
  <![endif]-->

  
  
  



  





    
      <link rel="prefetch" href="/author/h.-e.-bates/" />
    
    
      <link rel="prefetch" href="/author/takashi-hiraide/" />
    
</head>

<body id="container" class=" author" >
<div class="wrap">
  <a href="#start-of-content" tabindex="1" class="accessibility-aid">Skip to content</a>

  
    <div class="hero">
  
    <header class="navigation">
  <div class="menu-wrapper">

      <nav>
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/" tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/" tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/" tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/" tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/" tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        <li class="nav-sidebar-item"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
        <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/" tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/" tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/" tabindex="13" data-ga-click="Header, go to explore, text:explore">History</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/" tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/" tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    <li class="nav-sidebar-item"><a href="/shop/" tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
  </ul>
</nav>
<div class="js-menu-screen menu-screen"></div>

  
    




 



  

    
      
        <div class="hero-inner">
          <div class="hero-copy">
            
              
              <blockquote id="container-review-single" class="review">        
                <p><em>The End of Days</em> is a brilliant study of loss and mourning. … Erpenbeck’s novel chronicles the twentieth century in a way that other <em>Familienromane</em> do&nbsp;not.</p>
— 

  
    Necia Chronister, <em>World Literature Today</em>

   


  on 



  <a href="/book/the-end-of-days/">The End of Days</a>

 <a href="http://www.worldliteraturetoday.org/2014/november/narrating-fault-lines-german-literature-fall-wall-necia-chronister#.VFEjALup5EE" target="_blank"><i class="icon-ion-link"></i></a>

         
              </blockquote>
              
            
         </div> 
        </div>
      
    





  
    </div> 


  
    <section class="content">
      <div id="start-of-content" class="accessibility-aid"></div>
      

  <div class="has-layout layout-author">
      
      
    <article class="authors hentry">
      <header>
        
          <h1 class="entry-title">Jenny Erpenbeck</h1>
        
          
          <strong>Contemporary German freelance writer and opera director</strong>
      
      </header>
      <div class="entry-content prose">
        <p>Jenny Erpenbeck was born in East Berlin in 1967. She is the author of several works of fiction, including&nbsp;<em>The Book of Words</em>&nbsp;(2007) and&nbsp;<em>Visitation</em>&nbsp;(2010), both translated by Susan Bernofsky and published by New Directions.&nbsp;<em>The End of Days&nbsp;</em>won the prestigious Hans Fallada Prize in 2014. Also an opera director, she currently lives in Berlin.</p>
        
      </div>
    </article>




          

    <aside class="metadata">

            
        <ul class="block-list">
          
          
            
          
        </ul>
        <hr />
      



        
      <h5><small>by</small> Jenny Erpenbeck</h5>
      <ul class="block-list">
        
          <li>
            <a href="#bookthe-end-of-days">The End of Days</a>
          </li>
        
          <li>
            <a href="#bookvisitation">Visitation</a>
          </li>
        
          <li>
            <a href="#bookbook-of-words">The Book of Words</a>
          </li>
        
          <li>
            <a href="#bookthe-old-child-other-tales">The Old Child &amp; Other Tales</a>
          </li>
        
      </ul>



      



       



       



      
      <hr />
        <h5>related articles</h5>
        <ul class="block-list">
          
            <li>
              <a href="/article/jenny-erpenbeck-interview-at-the-quarterly-conversation/">Jenny Erpenbeck Interview at The Quarterly Conversation</a>
            </li>
          
            <li>
              <a href="/article/fwriction-interviews-translator-susan-bernofsky/">Fwriction Interviews Translator Susan Bernofsky</a>
            </li>
          
          
          <div style="display:none;">
            
          </div>
        </ul>
        <hr />
      

    </aside>

    
      <aside class="photo">
        
  <img data-aload="http://storage.googleapis.com/ndimages/Erpenbeck_Jenny600.jpg" alt="cover image for Jenny Erpenbeck" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/Erpenbeck_Jenny600.jpg" alt="cover image for Jenny Erpenbeck" class="width-500">
    </noscript>



      </aside>


    

    <hr class="section-divider" />

      
      
        
          
            <blockquote id="container-review" class="review">
              <p>Erpenbeck will get under your&nbsp;skin.</p>
— 

  
    <em>Washington Post Book World</em>

   


  on 



  <a href="/book/visitation/">Visitation</a>




            </blockquote>
          
            <blockquote id="container-review" class="review">
              <p>One of the most significant German-language novelists of her generation, Erpenbeck follows up the celebrated novel <em>Visitation </em>with a heady conceit located somewhere between <em>Cloud Atlas</em> and <em>Groundhog Day</em>.&nbsp;</p>
— 

  
    <em>The Millions</em>

   


  on 



  <a href="/book/the-end-of-days/">The End of Days</a>

 <a href="http://www.themillions.com/2014/07/most-anticipated-the-great-second-half-2014-book-preview.html" target="_blank"><i class="icon-ion-link"></i></a>


            </blockquote>
          
            <blockquote id="container-review" class="review">
              <p>Erpenbeck's writing is a lure that leads us–off-centre, as into a vortex–into the most haunted and haunting&nbsp;territory.</p>
— 

  
    Anne Michaels

   


  on 



  <a href="/book/the-end-of-days/">The End of Days</a>




            </blockquote>
          
        
      
    </div>


    <div class="page-items">
      
         
          

<div class="page-item case-1"  id="bookthe-end-of-days"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/end_of_days_cover.jpg" alt="cover image for The End of Days" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/end_of_days_cover.jpg" alt="cover image for The End of Days" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/the-end-of-days/">
          The End of Days <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p><em>The End of Days</em>, by the acclaimed German writer Jenny Erpenbeck, consists essentially of five &ldquo;books,&rdquo; each leading to a different death of the same unnamed woman protagonist. How could it all have gone differently? the narrator asks in the intermezzos. The first chapter begins with the death of a baby in the early twentieth-century Hapsburg Empire. In the next chapter, the same girl grows up in Vienna, but her strange relationship with a boy leads to death. In the next scenario, she survives adolescence and moves to Russia with her husband. Both are dedicated Communists, yet our heroine ends up in a labor camp. But her fate does not end there&hellip;.</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/the-end-of-days/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Clothbound and 
        
      
        
          
          Ebook
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811221924" target="_blank" class="Clothbound">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811221924" target="_blank" class="Clothbound">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811221924'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811221924").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811221924") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
     
      
              
        <li>
          <a href="http://itunes.apple.com/us/book/isbn9780811221931" target="_blank" class="Ebook">
            Apple iBooks
          </a>
        </li>
         
    
  </ul>
</div>
      
    </div>
  </section>
</div>
         
          

<div class="page-item case-2"  id="bookvisitation"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/Visitation.jpg" alt="cover image for Visitation" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/Visitation.jpg" alt="cover image for Visitation" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/visitation/">
          Visitation <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p>A forested property on a Brandenburg lake outside Berlin lies at the heart of this darkly sensual, elegiac novel. <em>Visitation</em> offers us the stories of twelve individuals who make their home here. The narrative weaves in and out of history and time, shimmering through the public and secret spaces of a magical little house and showing us the passions and fates of its inhabitants. Elegant and poetic, <em>Visitation</em> presents a literary mosaic of the last century in Germany, tearing open wounds and offering moments of reconciliation with its dramatic stories and its exquisite evocation of a landscape no political upheaval can truly change.</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/visitation/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Paperback and 
        
      
        
          
          Ebook
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811218351" target="_blank" class="Paperback">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811218351" target="_blank" class="Paperback">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811218351'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811218351").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811218351") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
     
      
              
        <li>
          <a href="http://itunes.apple.com/us/book/isbn9780811219310" target="_blank" class="Ebook">
            Apple iBooks
          </a>
        </li>
         
    
  </ul>
</div>
      
    </div>
  </section>
</div>
         
          

<div class="page-item case-3"  id="bookbook-of-words"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/bookofwords.JPG" alt="cover image for The Book of Words" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/bookofwords.JPG" alt="cover image for The Book of Words" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/book-of-words/">
          The Book of Words <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p>
	In <em>The Book of Words</em>, Jenny Erpenbeck captures with amazing virtuosity the inner life of a young girl who survives the totalitarian regime of a curiously unnamed South American country (most likely Argentina during its "dirty war"). Raised by parents whose real identity ends up shocking her, the girl comes of age in a country where gunshots are mistaken for blown tires, innocent citizens are dragged off buses, and tortured and disappeared friends and family return to visit her from the dead.</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/book-of-words/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Paperback
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811217064" target="_blank" class="Paperback">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811217064" target="_blank" class="Paperback">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811217064'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811217064").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811217064") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
    
  </ul>
</div>
      
    </div>
  </section>
</div>
         
          

<div class="page-item case-4"  id="bookthe-old-child-other-tales"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/theoldchild.JPG" alt="cover image for The Old Child &amp; Other Tales" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/theoldchild.JPG" alt="cover image for The Old Child &amp; Other Tales" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/the-old-child-other-tales/">
          The Old Child &amp; Other Tales <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p>
	<em>The Old Child &amp; Other Stories</em> introduces in English one of Germany’s most original and brilliant young authors, Jenny Erpenbeck. Written in spare, highly concentrated language, "a sustained feat of verbal economy" (<em>Die Zeit</em>), the one novella and four stories in <em>The Old Child</em> go beyond the limits of the expected, the real. Dark, serious, often mystical, these marvelous fictions about women’s lives provide glimpses into the minds of outcasts and eccentrics, at the same time bearing out Dostoevsky’s comment that hope can be found so long as a man can see even a tiny view of the sky.</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/the-old-child-other-tales/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Paperback
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811216081" target="_blank" class="Paperback">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811216081" target="_blank" class="Paperback">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811216081'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811216081").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811216081") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
    
  </ul>
</div>
      
    </div>
  </section>
</div>
        
      
      
      
</div>


<ul class="icon-circle">
  <li>
    <a href="#container">
      <i class="icon-ion-ios-arrow-thin-up"></i>
    </a>
  </li>
</ul>



  
  


<div class="page-icons">
      
    <a class="previous" href="/author/barbara-epler/"><i class="icon-ion-chevron-left icon-ion-ios-arrow-back"></i> <span class="prev-title">Barbara Epler</span></a>
  
  
    <a class="next" href="/author/jeffrey-eugenides/"><span class="prev-title">Jeffrey Eugenides</span> <i class="icon-ion-chevron-right icon-ion-ios-arrow-forward"></i></a>
  
</div>
<script>
  document.body.onkeyup = function(e){
    if (e.keyCode == '37') { window.location = '/author/barbara-epler/'; }
    if (e.keyCode == '39') { window.location = '/author/jeffrey-eugenides/'; }
  };
</script>

    </section>
  


  <div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo"><img src="/static/images/nd_black.svg" alt=""></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Booksellers</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr class="fancy" />

<div class="copy"><p>
	New Directions was founded in 1936, when James Laughlin (1914 - 1997), then a twenty-two-year-old Harvard sophomore, issued the first of the New Directions anthologies. "I asked Ezra Pound for 'career advice,'" James Laughlin recalled. "He had been seeing my poems for months and had ruled them hopeless. He urged me to finish Harvard and then do 'something' useful."
</p></div>



  <ul class="subfooter no-bullet small-print inline">
      <li class="source-org vcarfd copyright">
        <a href=""><span class="org fn">&copy; 2015 New Directions Publishers</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>


</footer>

  
<script type="text/javascript">

function aload(a){"use strict";a=a||window.document.querySelectorAll("[data-aload]"),void 0===a.length&&(a=[a]);var b,c=0,d=a.length;for(c;d>c;c+=1)b=a[c],b["LINK"!==b.tagName?"src":"href"]=b.getAttribute("data-aload"),b.removeAttribute("data-aload");return a}

window.onload = function () {
  aload();
};

  document.documentElement.className = document.documentElement.className.replace("no-js","js");
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/javascript/dist/scripts.min.js";
    document.body.appendChild(element);
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    document.body.appendChild(element_addthis);
    
    // var element_addthis = document.createElement("script");
    // element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    // document.body.appendChild(element_addthis);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>



<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,500:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  
</div>
  </body>
</html>

