{% extends "templates/partials/base.html" %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
<div id="container-filter"> {# //THIS NEEDS TO BE CLOSED IN THE CONTENT TO SURROUND FILTERED TERMS #}
  {% include "templates/partials/hero-search.html" %}
{% endblock %}
{% if item.name %}{% set page_name = item.name %}{% else %}{% set page_name = 'New & Forthcoming Books' %}{% endif %}
{% block title %}{% parent %} - {{ page_name }}{% endblock %}
{% block content %}
{% set current_date = now|date('U') %}
{% set books = cms.book|where('editions') %}
{% set books = books|sort('publication_date', true) %}
{% set series = cms.series %}
  <div class="local-nav"><!--  //Filter for the content below -->
    <div class="interior">
      <ul class="button-group accordion">
        <li class="button"><a href="/books/" class="button">New & Forthcoming</a></li> 
        <li><a href="/books/fiction/" class="button">Fiction</a></li>
        <li><a href="/books/nonfiction/" class="button">Nonfiction</a></li>
        <li><a href="/books/poetry/" class="button">Poetry</a></li>      
        <li><a href="/books/theater/" class="button">Theater</a></li>
        {% for object in series %}
          <li><a href="{{ url(object) }}" class="button">{{ object.name }}</a></li>
        {% endfor %}
      </ul>
      <ul class="button-group" style="float:right;">
       <li class="button" ><a href="/books/all/" class="button">Complete List</a></li> 
      </ul>
    </div>
  </div> 
  <div id="section0" class="layout-page">
    <section class="content-primary">
      <div id="tipue_search_content"></div>
      {% block books_list %}

      {% endblock %}
    </section>
  </div>
</div><!-- //#container-filter -->
{% endblock %}
{% block scripts_extra %}
    <script src="/static/javascript/dist/scripts-listjs.min.js" async></script>
{% endblock %}    