{% extends "templates/books/base.html" %}
{% block books_list %}
{% if item.name == 'Fiction' %}
  {% set books = cms.book|where('genre', 'Fiction') %}
{% elseif item.name == 'Nonfiction' %}
  {% set books = cms.book|where('genre', 'Nonfiction') %}
{% elseif item.name == 'Poetry' %}
  {% set books = cms.book|where('genre', 'Poetry') %}
{% elseif item.name == 'Theater' %}
  {% set books = cms.book|where('genre', 'Theater') %}
{% endif %}
{% set books = books|sort('publication_date', true) %}

  <h1>{{ item.name}} <small>{{ books.length }} books</small></h1>
  <div class="grid-items list-filter">
    {% for object in books|slice(0,1250) %}
      {% set edition = object.editions|first %}          
      {% set publication_date = object.publication_date %}
      {% set show_date = 'yes' %}
        {% include "templates/partials/format-books-grid.html"  with show_date  %}      
      {% endfor %}
  </div>
{% endblock %}