{% extends "templates/books/base.html" %}
{% set page_name = 'New & Forthcoming Books' %}
{% block head_extra %}
  {% parent %}
  <link rel="prefetch" href="/books/poetry/" />
  <link rel="prefetch" href="/books/fiction/" />
{% endblock %}
  {% block books_list %}
  <div id="tipue_search_content"></div>
  {% set forthcoming_books = books|where('show_in_forthcoming') %}      
  {% set forthcoming_books = forthcoming_books|sort('publication_date') %}      
    <h1>New & Forthcoming Books</h1>    
    <div class="grid-items list-filter">
      {% for object in books|slice(0,25) %}
        {% set edition = object.editions|first %}          
        {% set publication_date = object.publication_date %}
        {% set publication_date_unix = publication_date|date('U') %}
        {% set show_date = 'yes' %}            
        {% if publication_date_unix < current_date  %}
          {% include "templates/partials/format-books-grid.html"  with show_date  %}
        {% endif %}
      {% endfor %}
      {% for object in forthcoming_books|slice(0,50) %}
        {% set edition = object.editions|first %}          
        {% set publication_date = object.publication_date %}
        {% set publication_date_unix = publication_date|date('U') %}
        {% if publication_date_unix > current_date  %}      
          {% set show_date = 'yes' %}
          {% include "templates/partials/format-books-grid.html" with show_date %}
        {% endif %}
      {% endfor %}
    </div>
    <h1>Bestsellers</h1>    
      <div class="grid-items list-filter">
        {% for object in cms.global.featured_books_bestsellers %}
          {% set edition = object.editions|first %}          
          {% set show_date = 'no' %}
          {% include "templates/partials/format-books-grid.html"  with show_date %}
        {% endfor %}        
      </div>
  {% endblock %}
