{% extends "templates/books/base.html" %}
{% block books_list %}

{% set books = item.book_series %}
{% set books = books|sort('publication_date', true) %}

  <h1>{{ item.name}} <small>{{ books.length }} books</small></h1>  
  <div class="grid-items">
    <div class="grid-item">
      <h2>{{ item.tagline}}</h2>
    </div>  
    <div class="grid-item grid-item-big">
      {{ item.copy|safe }}
    </div>
  </div>
  <div class="grid-items list-filter">
    {% for object in books|slice(0,1250) %}
      {% set edition = object.editions|first %}          
      {% set publication_date = object.publication_date %}
      {% set show_date = 'yes' %}
        {% include "templates/partials/format-books-grid.html"  with show_date  %}      
    {% endfor %}
  </div>
{% endblock %}