.hero {
  // $hero-background: $black;//darken($base-accent-color, 25);
  // $hero-color: $medium-gray;
  //padding-bottom: 4em;

  //if background, set locally
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  //background-color: $hero-background;
  //min-height: 14.6785em; //235px
  //min-height: 21.875em; //350px

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    //color: $hero-color;

    .books {
      text-align: left;
      line-height: 1.1;
    }
    @include media($large-screen) {

    blockquote {
      max-width: 60%;
      margin: auto;
    }
  }

    .hero-copy {
      text-align: center;

      blockquote {
        padding-bottom:5em;
      }

      h1 {
        font-size: 1.6em;
        text-align: left;
        margin-bottom: .5em;
        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 1em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          //max-width: 40%;
        }
      }
    }
  }
}

@include media($medium-screen-down){
  h1 small:before {
    content:"";
    display:table;
  }
}


//============ page level overrides ===================//

// body.pages .hero-inner { //cuz pages have the content sticking up over the hero unit
//   padding: 3em 3em 7em 3em;
// }

// .hero-copy blockquote {
//   padding-bottom: 6em;
// }


/// Experimental mods
//$splash-height: 500px !default;
$splash-height: 500px !default;
body.splash .hero {
  height:$splash-height;
}

body.splash.height-200 .hero{
      height: 200px;
    }
    body.splash.height-400 .hero{
      height: 400px;
    }
    body.splash.height-500 .hero{
      height: 500px;
    }

body.splash.height-200 .content_splash{
      margin-top: 200px;
    }
    body.splash.height-400 .content_splash{
      margin-top: 400px;
    }
    body.splash.height-500 .content_splash{
      margin-top: 500px;
    }
body.blog .hero {
  //overflow: hidden;
  position:relative;
}
h1.page-heading {
  //position: absolute;
  font-size:6em !important;
  //color: darken($base-body-color-background, 5%) !important;
  //left: 1em;
  //bottom: -19px;
  //bottom: 0;//-35px;
  text-align: left;
  font-weight: 300;
  padding: 20px;

}
body.book .hero {
  min-height: 14.6785em; //235px
  //min-height: 320px;
}
