{% extends "templates/partials/base.html" %}
  {% block title %}{% parent %} - {{ item.name }}{% endblock %}
  {% block hero %}
    {% include "templates/partials/hero-book-page.html" %}
  {% endblock %}
  {% block content %}
    {% set authors = item.authors %}
    {% set translators = item.translators %}
    {% set original_language = item.original_language %}
    {% set reviews_of_this_book = item.reviews_related_book %}
    {% set editions = item.editions %}

    <div class="has-layout layout-book">
      <section class="row book-splash" style="margin-top:0;padding-top:0;">{# Top row = book cover on left, quote and tagline on right #}
        <div class="book-cover">
          {% include "templates/partials/format-image-750px-high.html" %}
        </div>
        <div class="copy">      
          {% if reviews_of_this_book %}
            <blockquote class="review presentational" >
              {% for review in reviews_of_this_book|slice(0,1) %}
                {% include "templates/partials/format-quotes.html" %}
              {% endfor %}
            </blockquote>
          {% endif %}
        
          {% if item.editions %}
            {% if item.editions[0].tagline %}
              <div class="tagline">{{ item.editions[0].tagline|markdown }}</strong>
              {% set copy = item.copy %}
            {% elseif item.copy %}
              {{ item.copy|safe }}
            {% endif %}
          {% endif %}

        </div>
      </section>{#  // END TOP ROW #}

      <hr />

      <section class="row spaced-top-bottom-2em">{# Row with book synopsis   #}
        <article class="hentry {% if page_class %}{{ page_class }}{% endif %}">
          <header>
            {% if item.name %}
              <h1 class="entry-title">{{ item.name }}{% if item.subtitle %} <br /><small>{{ item.subtitle }}</small>{% endif %}</h1>
            {% endif %}
              {% if authors %}
              <h2><small>by</small> 
              {% for author in authors %}
                <a href="{{ url(author) }}">{{ author.name }}</a>{% if loop.revindex != 2 %}{% if not loop.last %}, {% endif %}{% endif %}{% if loop.revindex == 2 %} and {% endif %}
              {% endfor %}
              </h2>
            {% endif %}
            {% if translators %}
              <h5>
                <small>translated{% if item.language_translated_from %} from {{ item.language_translated_from }}{% endif %} by</small> {% for translator in translators %}<a href="{{ url(translator) }}">{{ translator.name }}</a>{% if loop.revindex != 2 %}{% if not loop.last %}, {% endif %}{% endif %}{% if loop.revindex == 2 %} and {% endif %}{% endfor %}
              </h5>          
            {% endif %}
          </header>
          {% if item.copy %}
            <div class="entry-content lead prose">
              {{ copy|safe }}
              {% block below_copy %}          
              {% endblock %}
              <hr />
              <button class="buy">buy</button>




{% for edition in item.editions|slice(0,10) %}
      {% if edition.isbn %}
      {% set isbn = edition.isbn %}
        {% include "templates/partials/modal-buy-links.html" %}
        {% endif %}
      {% endfor %}



            </div>
          {% endif %}
        </article>
      </section>{# //END row #}

    </div>{#  //has-layout-book #}

{#     <hr class="section-divider" style="margin-bottom:8em;" /> #}

    {# ROW with Author and metadata information #}
  
    
<div class="shape">
      <div class="page-item shape case-2" style="background-image:url(/static/images/logo-ndbooks-aaa.svg);background-repeat:no-repeat;background-position:center center;">
         
         
    
        {% if authors %}
          {% for object in authors %}
            
              <div class="author-block">
                <div class="outlined">
                  <h4>
                    <a href="{{ url(object) }}">
                      {{ object.name }} <i class="icon-right-circled icon-ion-ios7-arrow-right"></i>
                    </a>
                  </h4>
                  {% if object.tagline %}
                  <div class="lead">
                    {{ object.tagline|safe }}
                  </div>
                  {% endif %}
                </div>
                  <a href="{{ url(object) }}" class="author-photo">
                    {% include "templates/partials/format-image-300px-cropped.html" %}
                  </a>                
              </div>
            
          {% endfor %}
        {% endif %}
        
        </div>
      </div>


<div class="has-layout layout-book">
      
      <div class="row"  id="{{object.slug}}">
        <section class="spaced-top-bottom-2em">
          
            {% set editions = item.editions %}
            {% if item.editions.for_sale %}
              {% set editions = editions|exclude('for_sale', false) %}
              {% endif %}            

            {% for row in editions %}
              <ul class="inline table-minimal">
                {% if row.type %}
                  <li>
                    <strong>{{ row.type }}</strong>
                  </li>
                {% endif %}
                {% if row.isbn %}
                  <li>
                    <strong>ISBN: </strong>{{ row.isbn }}
                  </li>
                {% endif %}
                {% if row.price_us %}
                  <li>
                    <strong>Price US: </strong>{{ row.price_us }}
                  </li>
                {% endif %}
                {% if row.price_cn %}
                  <li>
                    <strong>Price CN: </strong>{{ row.price_cn }}
                  </li>
                {% endif %}
                {% if row.trim_size %}
                  <li>
                    <strong>Trim Size: </strong>{{ row.trim_size }}
                  </li>
                {% endif %}
                {% if row.page_count %}
                  <li>
                    <strong>Page Count: </strong>{{ row.page_count }}
                  </li>
                {% endif %}
              </ul>
            {% endfor %}
        </section>
      </div>
    
  {# <hr class="section-divider" style="margin-bottom:8em;" /> #}

    <div id="reviews" class="row quotes" data-ref="quotes">
      {% if reviews_of_this_book %}            
        {% for review in reviews_of_this_book|slice(1,20) %}
          <blockquote id="container-review" class="review">
            {% include "templates/partials/format-quotes.html" %}
          </blockquote>
        {% endfor %}
      {% endif %}
    </div>

    {% if item.excerpt %}
      <div id="excerpt" class="row spaced-top-bottom-2em" style="margin-top:8em;">
        <article class="hentry">
          <div class="entry-content lead prose">
          <h5 class="h2">Excerpt from <em>{{ item.name }}</em>{% if item.subtitle %} <small>{{ item.subtitle }}</small>{% endif %}</h5>

             {{ item.excerpt|safe }}
              <hr />
              <button class="buy">buy</button>
           </div>
          </article> 
      </div>
    {% endif %}




</div>{#  //has-layout #}



{% include "templates/partials/modal-buy-links.html" %}































{% set prev = prevItem(item, 'publication_date') %}
{% set next = nextItem(item, 'publication_date') %}
{% include "templates/partials/prev-next.html" %}
{% endblock %}

{# TODO:
- Alt layout for phamplets #}