{% extends "templates/partials/base.html" %}
{% block body_class %} home{% endblock %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% set now = Date() %}
{% set current_date = now |date('U') %}
{% if cms.global.featured_image %}
  {% block head_extra %}
    {#  Adds CSS Styles to the head to show featured image in the hero unit  #}
    {% include "templates/partials/head_extra.html" %}
  {% endblock %}
{% endif %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
    {% include "templates/partials/hero-home.html" %}
  {% endblock %}
{% block content %}
    
    {% set now = Date() %}
    {% set current_date = now|date('U')%}
    {% set events = cms.event|where('featured') %}
    {% set events = events|sort('start_date') %}
    {% set event_date = events.start_date|date('U') %}
    {% set home = cms.homepage %}

    {% if events %}
      <ul class="large" style="margin:4em auto;">
          
          {% for event in events|slice(0,30) %}        
            {% set event_date = event.start_date|date('U') %}
            {% if event.start_date && event_date > current_date %}                
            <li class="centered">
              <strong>Event: </strong><a href="{{ url(event)}}">{% if event.start_date %}{{ event.start_date|date('M jS') }}: {% endif %}{{event.name}}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
    {% endif %}

    
    <div id="grid-container" class="flex-boxes-homeTK grid-items">
      {% for object in home|slice(0,1) %}
        {% for row in object.grid %}
          <a href="{{ url(row.relationship) }}" class="grid-item grid-item-image item TKflex-box-home{% if loop.index == 1 %} grid-item-bigTK{% endif %}" style="height:auto;">          
            {% if row.copy %}
              {{ row.copy|safe|replace('<a href', '<span src', 'g')|replace('</a', '</span', 'g') }}
              {% elseif row.relationship._type == 'book' %}
              {% set edition = row.relationship.editions|first %}
                {% set image = edition.image|imageSize(750, 'auto') %}
               <figure data-type="image">
                <img src="{{ image }}" alt="cover image for {{ row.relationship.name }}" class="book-coverTK" />
              </figure>
            {% endif %}
          </a>
        {% endfor %}
      {% endfor %}
    </div>
  <div class="clear" style="width:100%;clear:both;"></div>
  <div class="page-item clear"> {# {% cycle 'one', 'two', 'three' %} #}
    <section>
      {% set reviews = cms.review %}
      {% set reviews = reviews|where('_id', '-JatT2ZToBjJ2946Uobw') %}
      {% for review in reviews %}
        <blockquote class="review presentational" >
          {% include "templates/partials/format-quotes.html" %}
        </blockquote>
      {% endfor %}
    </section>
  </div>
  {% set books = cms.book %}
  {% set books = books|sort('publication_date', true) %}
  {% if books %}
    {% for object in books|slice(0,25) %}
      {% set edition = object.editions|first %}          
      {% set publication_date = object.publication_date %}
      {% set publication_date_unix = publication_date|date('U') %}
      {% set show_date = 'yes' %}            
      {% if publication_date_unix < current_date  %}
        {% include "templates/partials/format-books-list.html" %}
      {% endif %}
    {% endfor %}
      

  {% endif %}





  {% include "templates/partials/layout-mailing-list.html" %}
  <section class="row" style="margin:3em .375em;">
    {% include "templates/partials/cards-articles.html" %}
  </section>
{% endblock %}

{% block scripts_extra %}
  <script type="text/javascript" src="/static/javascript/dist/scripts-masonry.min.js" async></script>
{% endblock %}