
  <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
      
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='http://storage.googleapis.com/'>
    <link rel='dns-prefetch' href='https://lh3.ggpht.com'>



  
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>New Directions Publishers</title>
  
  
  
  <link href='/static/css/screen.css?generated=1423850270' rel='stylesheet' type="text/css" />
  
   

  
  <!--[if lte IE 7]>
    <link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/static/javascript/modernize/modernize.min.js"></script>
  <![endif]-->

  
  
  



  





    
      <link rel="prefetch" href="/author/nikolai-gogol/" />
    
    
      <link rel="prefetch" href="/author/tony-kushner/" />
    
</head>

<body id="container" class=" author" >
<div class="wrap">
  <a href="#start-of-content" tabindex="1" class="accessibility-aid">Skip to content</a>

  
    <div class="hero">
  
    <header class="navigation">
  <div class="menu-wrapper">

      <nav>
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/" tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/" tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/" tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/" tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/" tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        <li class="nav-sidebar-item"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
        <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/" tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/" tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/" tabindex="13" data-ga-click="Header, go to explore, text:explore">History</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/" tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/" tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    <li class="nav-sidebar-item"><a href="/shop/" tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
  </ul>
</nav>
<div class="js-menu-screen menu-screen"></div>

  
    




 



  

    
      
        <div class="hero-inner">
          <div class="hero-copy">
            
              
              <blockquote id="container-review-single" class="review">        
                <p>The most well-executed literary sex comedy in&nbsp;ages.</p>
— 

  
    <em>Salon</em>

   


  on 



  <a href="/book/lightning-rods/">Lightning Rods</a>



         
              </blockquote>
              
            
         </div> 
        </div>
      
    





  
    </div> 


  
    <section class="content">
      <div id="start-of-content" class="accessibility-aid"></div>
      

  <div class="has-layout layout-author">
      
      
    <article class="authors hentry">
      <header>
        
          <h1 class="entry-title">Helen DeWitt</h1>
        
          
          <strong>Helen DeWitt is the author of <em>The Last Samurai,</em> which has been translated into twenty languages. She lives in Berlin.</strong>
      
      </header>
      <div class="entry-content">
        <p>Helen DeWitt was born in a suburb of Washington, D.C. in 1957. Her father joined the Foreign Service in 1960, and she grew up primarily in South America. She has a B.A. in Literae Humaniores and a D.Phil. in Greek and Latin Literature from the University of Oxford. Her first novel, <em>The Last Samurai</em>, was published in 2000 by Talk Miramax Books and subsequently in nineteen other countries. A Guggenheim Fellowship (2006&ndash;7) supported work on <em>Risk</em>, a novel incorporating the information design of Edward Tufte (in progress). She has collaborated with the painter Ingrid Kerma on the show "Blushing Brides," with journalist Ilya Gridneff on the novel <em>Your Name Here</em>, with photographer Emily Horne on "Sexual Codes of the Europeans" for <em>Photography &amp; Prose</em> (under curation), and with artist Elizabeth McAlpine on "Plantinga" for <em>Photomonth Krakow</em>.</p>
        
      </div>
    </article>




          

    <aside class="metadata">

      



        
      <h5><small>by</small> Helen DeWitt</h5>
      <ul class="block-list">
        
          <li>
            <a href="#booklightning-rods">Lightning Rods</a>
          </li>
        
      </ul>



      



       



       



      
      <hr />
        <h5>related articles</h5>
        <ul class="block-list columns">
          
            <li>
              <a href="/article/htmlgiant-and-helen-dewitt/">HTMLGiant and Helen Dewitt</a>
            </li>
          
            <li>
              <a href="/article/helen-dewitt-on-marfa-public-radio/">Helen DeWitt on Marfa Public Radio</a>
            </li>
          
            <li>
              <a href="/article/lightning-rods-a-finalist-for-the-wodehouse-prize/">‘Lightning Rods’ a Finalist for the Wodehouse Prize</a>
            </li>
          
            <li>
              <a href="/article/telegraph-on-lightning-rods/">Telegraph on Lightning Rods</a>
            </li>
          
            <li>
              <a href="/article/lightning-rods-now-available-in-paperback/">Lightning Rods Now Available in Paperback</a>
            </li>
          
            <li>
              <a href="/article/lightning-rods-as-reviewed-by-the-independent/">Lightning Rods as Reviewed by The Independent</a>
            </li>
          
            <li>
              <a href="/article/the-financial-times-on-lightning-rods/">The Financial Times on Lightning Rods</a>
            </li>
          
            <li>
              <a href="/article/the-guardian-on-lightning-rods/">The Guardian on Lightning Rods</a>
            </li>
          
            <li>
              <a href="/article/electric-literature-and-helen-dewitt/">Electric Literature and Helen DeWitt</a>
            </li>
          
            <li>
              <a href="/article/helen-dewitt-in-the-believer/">Helen DeWitt in The Believer</a>
            </li>
          
          
          <div style="display:none;">
            
            <li>
              <a href="/article/helen-dewitt-on-wisconsin-public-radio/">Helen DeWitt on Wisconsin Public Radio</a>
            </li>
          
            <li>
              <a href="/article/n-1-video-of-helen-dewitt/">n + 1 Video of Helen DeWitt</a>
            </li>
          
            <li>
              <a href="/article/the-believers-shortlist-on-lightning-rods/">The Believer’s Shortlist on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-rumpus-on-lightning-rods/">The Rumpus on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/new-york-times-literary-supplement-on-lighting-rods/">New York Times Literary Supplement on “Lighting Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-wall-street-journal-on-lightning-rods/">The Wall Street Journal on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/on-marginalia/">On Marginalia</a>
            </li>
          
            <li>
              <a href="/article/the-new-york-observer-on-lightning-rods/">The New York Observer on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/salon-on-lightning-rods/">Salon on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/helen-dewitt-and-patti-smith-in-the-new-york-times-book-review/">Helen DeWitt and Patti Smith in the New York Times Book Review</a>
            </li>
          
            <li>
              <a href="/article/the-new-york-times-loves-lightning-rods/">The New York Times Loves “Lightning Rods”!</a>
            </li>
          
            <li>
              <a href="/article/indefinite-podcast-of-helen-dewitt/">InDefinite Podcast of Helen DeWitt</a>
            </li>
          
            <li>
              <a href="/article/apparently-not-everyone-appreciates-satire/">Apparently Not Everyone Appreciates Satire</a>
            </li>
          
            <li>
              <a href="/article/vol-1-brooklyn-on-lightning-rods/">Vol. 1 Brooklyn on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-new-yorker-on-helen-dewitt/">The New Yorker on Helen DeWitt</a>
            </li>
          
            <li>
              <a href="/article/the-critical-mob-on-lightning-rods/">The Critical Mob on “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-awl-interviews-helen-dewitt/">The Awl Interviews Helen DeWitt</a>
            </li>
          
            <li>
              <a href="/article/the-wall-street-journal-discusses-sex-and-lightning-rods/">The Wall Street Journal Discusses Sex and “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-millions-on-lightning-rods-genius-at-work/">The Millions on “Lightning Rods”: “Genius at Work”!</a>
            </li>
          
            <li>
              <a href="/article/n1-interviews-helen-dewitt/">n+1 Interviews Helen DeWitt</a>
            </li>
          
            <li>
              <a href="/article/helen-dewitt-springtime-for-hitler-and-game-shows/">Helen DeWitt, “Springtime for Hitler”, and Game Shows</a>
            </li>
          
            <li>
              <a href="/article/the-new-york-observer-reviews-lightning-rods/">The New York Observer Reviews “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-huffington-post-reviews-lightning-rods/">The Huffington Post Reviews “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/the-boston-globe-reviews-lightning-rods/">The Boston Globe Reviews “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/bookforum-absolutely-loves-helen-dewitts-lightning-rods/">Bookforum Absolutely Loves Helen DeWitt’s “Lightning Rods”</a>
            </li>
          
            <li>
              <a href="/article/helen-dewitt-interviewed-in-bookforum/">Helen DeWitt Interviewed in Bookforum</a>
            </li>
          
          </div>
        </ul>
        <hr />
      

    </aside>

    
      <aside class="photo">
        
  <img data-aload="http://storage.googleapis.com/ndimages/helen_dewitt.jpg" alt="cover image for Helen DeWitt" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/helen_dewitt.jpg" alt="cover image for Helen DeWitt" class="width-500">
    </noscript>



      </aside>


    

    <hr class="section-divider" />

      
      
        
          
            <blockquote id="container-review" class="review">
              <p>An absurdist comedy of the American workplace and the indignities faced by employees in today's turbo-capitalism, a quietly seething feminist critique of pornography and the commodification of women, and a category-defying fable about the meaninglessness of&nbsp;success.</p>
— 

  
    
   


  on 



  <a href="/book/lightning-rods/">Lightning Rods</a>




            </blockquote>
          
            <blockquote id="container-review" class="review">
              <p>Dewitt maintains a strong, clear, narrative voice throughout, pitch-perfectly parodying management speak, corporate culture and self-help&nbsp;bibles.</p>
— 

  
    
   


  on 



  <a href="/book/lightning-rods/">Lightning Rods</a>




            </blockquote>
          
            <blockquote id="container-review" class="review">
              <p>A razor-sharp comic&nbsp;masterpiece.</p>
— 

  
    
   


  on 



  <a href="/book/lightning-rods/">Lightning Rods</a>




            </blockquote>
          
        
      
    </div>


    <div class="page-items">
      
         
          

<div class="page-item case-1"  id="booklightning-rods"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/Lightning_Rods_PB.jpg" alt="cover image for Lightning Rods" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/Lightning_Rods_PB.jpg" alt="cover image for Lightning Rods" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/lightning-rods/">
          Lightning Rods <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p>Helen DeWitt&rsquo;s follow-up to her critically accalimed debut novel <em>The Last Samurai</em>&nbsp;arrives with a bang, ready to take on the complex issues surrounding sexual tension in&nbsp;the workplace with a wicked dose of satire and humor.</p>

<p>Joe is a down-and-out salesman who spends most of his time sitting&nbsp;around his trailer in Florida fantasizing about women. But one afternoon a&nbsp;particularly strange fantasy turns into a life-changing epiphany. Suddenly he knows how&nbsp;to curtail sexual harassment in the office and increase productivity. His solution? Sexual&nbsp;lightning rods: women who, via a carefully constructed system of anonymity and strict&nbsp;protection, provide &ldquo;sexual release&rdquo; for alpha-male employees. As unlikely to succeed as it seems, Joe has finally found a product he can sell with boundless&nbsp;enthusiasm, and he simply refuses to fail, no matter what the obstacles. And of course&nbsp;he encounters quite a few of those on his rise through corporate America.</p>

<p><em>Lighting Rods</em> is DeWitt at her finest, offering a mesmerizing blend of social&nbsp;commentary and jaw-dropping humor, all with a philosophic approach that takes&nbsp;modern storytelling into new realms of possibility.</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/lightning-rods/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Paperback, 
        
      
        
          
          Clothbound and 
        
      
        
          
          Ebook
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811220347" target="_blank" class="Paperback">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811220347" target="_blank" class="Paperback">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811220347'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811220347").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811220347") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
     
      
              
        <li>
          <a href="http://itunes.apple.com/us/book/isbn9780811219525" target="_blank" class="Ebook">
            Apple iBooks
          </a>
        </li>
         
    
  </ul>
</div>
      
    </div>
  </section>
</div>
        
      
      
      
</div>


<ul class="icon-circle">
  <li>
    <a href="#container">
      <i class="icon-ion-ios-arrow-thin-up"></i>
    </a>
  </li>
</ul>



  
  


<div class="page-icons">
      
    <a class="previous" href="/author/osamu-dazai/"><i class="icon-ion-chevron-left icon-ion-ios-arrow-back"></i> <span class="prev-title">Osamu Dazai</span></a>
  
  
    <a class="next" href="/author/zora-depolo/"><span class="prev-title">Zora Depolo</span> <i class="icon-ion-chevron-right icon-ion-ios-arrow-forward"></i></a>
  
</div>
<script>
  document.body.onkeyup = function(e){
    if (e.keyCode == '37') { window.location = '/author/osamu-dazai/'; }
    if (e.keyCode == '39') { window.location = '/author/zora-depolo/'; }
  };
</script>

    </section>
  


  <div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo"><img src="/static/images/nd_black.svg" alt=""></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Booksellers</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr class="fancy" />

<div class="copy"><p>
	New Directions was founded in 1936, when James Laughlin (1914 - 1997), then a twenty-two-year-old Harvard sophomore, issued the first of the New Directions anthologies. "I asked Ezra Pound for 'career advice,'" James Laughlin recalled. "He had been seeing my poems for months and had ruled them hopeless. He urged me to finish Harvard and then do 'something' useful."
</p></div>



  <ul class="subfooter no-bullet small-print inline">
      <li class="source-org vcarfd copyright">
        <a href=""><span class="org fn">&copy; 2015 New Directions Publishers</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>


</footer>

  
<script type="text/javascript">

function aload(a){"use strict";a=a||window.document.querySelectorAll("[data-aload]"),void 0===a.length&&(a=[a]);var b,c=0,d=a.length;for(c;d>c;c+=1)b=a[c],b["LINK"!==b.tagName?"src":"href"]=b.getAttribute("data-aload"),b.removeAttribute("data-aload");return a}

window.onload = function () {
  aload();
};

  document.documentElement.className = document.documentElement.className.replace("no-js","js");
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/javascript/dist/scripts.min.js";
    document.body.appendChild(element);
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    document.body.appendChild(element_addthis);
    
    // var element_addthis = document.createElement("script");
    // element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    // document.body.appendChild(element_addthis);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>



<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,500:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  
</div>
  </body>
</html>

