body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  font-weight: $header-font-weight;
  margin-bottom: .25em;
}

h1, .h1 {
  @include media($medium-screen-up) {
  font-size: $h1-font-size;
  }

}

.hero h1.entry-title {
  line-height: 1;
}
h1 small {
    font-size: 1.5rem;
    font-weight: 400;
  }

h2, .h2 {
  font-size: $h3-font-size;
  @include media($small-screen-up) {
    font-size: $h2-font-size;
  }
  font-weight: 400;   
}


// a:link, a:active, a:visited {
//     color: $heading-color;
//    }
//    a:hover {
//     color: $base-accent-color;
//    }

h3, .h3-font-size {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
  font-family: $base-font-family;
  font-weight: 600;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-family: $base-font-family;
  font-weight: 600;
}

p {
  margin: 0 0 ($base-spacing / 2);
  font-weight: $base-font-weight;
  a {
    color: $base-link-color;
    text-decoration: underline;
  }
}

.prose p {
  font-size: $paragraph-font-size;
  font-family: $paragraph-font-family;
  line-height: 1.7;//$base-line-height * 1.0625;

}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $base-accent-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

h2 a.inverse-link-color, a.inverse-link-color ul.inverse-link-color li a {
    color: $base-accent-color;    
     &:hover {
       color: $base-link-color;
    }
  }



hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

//
.small h2 {
  font-size: 1.4em;
}

//== BPNY
//TODO: BE Less specific
// .hero h1 {
//   //color: darken($hero-background-color, 2%);
//   color: $light-gray;
//   //font-weight: 800;
//     color: $light-gray;
//   //font-weight: 800;
//   @include media($medium-screen-up) {
//   font-size: $base-font-size * 3; // 16 * 2.25 = 36px
// }

//   font-size: $base-font-size * 3; // 16 * 2.25 = 36px
//   //position: relative;
//   //margin-bottom: -150px;
// }

.lead, .lead p {
      font-size: 1.0625em;
      line-height: 1.7;
      font-weight:400;
    }
.strong, .strong p {
  font-weight: 600;
}

.tagline, .tagline p {
  font-weight: 800;
  font-size: 1.25rem;
}

.grid-container .tagline, .grid-container .tagline p {
  font-weight: 400;
}

.centered {
  text-align: center;
}

.align-left, .align-left p {
  text-align: left;
}

.red {
  color: $red;
}

.brand {
  font-family: $brand-font-family;
}
.small, ul.small {
  font-size: .875em;
}
.text-right {
  text-align: right;
}
h4 a > .icon-right-circled {
  font-size: $base-font-size * .5; // 16 * 1.5 = 24px
  visibility: hidden;
}
h4 a:hover > .icon-right-circled {
  visibility: visible;
  @include animation(scale 1.0s ease-in, slide 2.0s ease);
}



h1, h2, h3, h4, h5, h6 {
  -ms-word-wrap: break-word;
word-wrap: break-word;
}


sup, sub {
//@include adjust-font-size-to($kappa);
 vertical-align: baseline;
 position: relative;
 top: -0.4em;
}
sub { top: 0.4em; }