// Typography
//$sans-serif:'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Open Sans', $helvetica;
$sans-serif:'Raleway', $helvetica;
//$sans-serif: 'Verlag A', 'Verlag B', $helvetica;
//$sans-serif:'Ideal Sans SSm A', 'Ideal Sans SSm B', $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$base-font-weight: 400;

$header-font-family: 'Verlag A', 'Verlag B', $base-font-family;
$header-font-weight:800;

$brand-font-family: 'Archer SSm A', 'Archer SSm B' , $georgia;  //BP
$brand-font-weight: 500;  //BP
$brand-font-style: normal; //BP
$paragraph-font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;


// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.875;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;
$paragraph-font-size: $base-font-size * 1.125;

// Line height
$base-line-height: 1.6;
//$base-line-height: $base-font-size * 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;



//$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
//$header-line-height: $base-font-size * 1.25;
//$base-border-radius: em(3);

// Colors
$blue: #477DCA;
$dark-gray: #555;
$medium-gray: #878787;
$lightest-gray: #f6f6f6;
$light-gray: #d9d9d9;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$black: #0f0f0f;
$blackest: #0d0d0d;
$red: #BA1800;//#970c00;//#c71c0d;//#D43224;//#b23e3a;
$red-dark: #b23e3a;
$white: #f2f2f2;

$green-dark: #3a4c56;
$avenger-purple: #513e49;
$green-light: #589689;
$green-green: #586f5b;
$dark-gray: #202020;//#232323;
//2d2d2d
$yellow-golden: #ceb07e;// -> lustig, dh lawrence: #ceaa41
$goldenrod: #DBA53B;
$blue-lighter: #4c7088;//#536476;
$khaki-dark: #908e81;
$rust: #844e44;
$white-gray: #e7e7e7;
$black: #151515;
$blue-social: #3b5998;


$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683; // pink
$color-4: #fff; // white



$heading-color: $black;
$navigation-color-active: red;
$hero-background-color: $blackest;


// Body Color WTF ARE THESE?
//$base-body-color: $lightest-gray;//white;
//$base-body-color-background: $lightest-gray;

$article-color-background: #FFF;
$article-color-background-splash: rgba(255,255,255,0.72);

// Background Color
$base-background-color: $lightest-gray;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $red;

// //  Text Link Colors
$base-link-color: $dark-gray;//$base-accent-color;//$black;
$hover-link-color: darken($base-link-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

$navigation-height: 145px;