
  <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
      
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='http://storage.googleapis.com/'>
    <link rel='dns-prefetch' href='https://lh3.ggpht.com'>



  
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>New Directions Publishers</title>
  
  
  
  <link href='/static/css/screen.css?generated=1423839174' rel='stylesheet' type="text/css" />
  
   

  
  <!--[if lte IE 7]>
    <link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/static/javascript/modernize/modernize.min.js"></script>
  <![endif]-->

  
  
  



  





    
      <link rel="prefetch" href="/article/found-one-1-lusty-book-in-our-library/" />
    
    
      <link rel="prefetch" href="/article/the-daily-beast-on-bolaño/" />
    
</head>

<body id="container" class=" article" >
<div class="wrap">
  <a href="#start-of-content" tabindex="1" class="accessibility-aid">Skip to content</a>

  
    <div class="hero">
  
    <header class="navigation">
  <div class="menu-wrapper">

      <nav>
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/" tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/" tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/" tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/" tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/" tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        <li class="nav-sidebar-item"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
        <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/" tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/" tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/" tabindex="13" data-ga-click="Header, go to explore, text:explore">History</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/" tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/" tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    <li class="nav-sidebar-item"><a href="/shop/" tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
  </ul>
</nav>
<div class="js-menu-screen menu-screen"></div>

  
    




 


  
    
      <h1 class="page-heading">Poet of the Week: Xi Chuan</h1>
    
  
  



  
    </div> 


  
    <section class="content">
      <div id="start-of-content" class="accessibility-aid"></div>
      
  <div class="has-layout layout-page">
    <article class="hentry">
      <header>
        
          <h1 class="entry-title">Poet of the Week: Xi Chuan</h1>
        
      </header>
      <div class="entry-content prose">
        <p style="text-align: left; ">
	<em>Due to popular demand, and as a concession to common sense, we’ve decided to put poems here on our website &mdash; one poet per week.</em></p>
<p style="text-align: left; ">
	This week’s poet is <a href="http://ndbooks.com/author/xi-chuan">Xi Chuan</a>, whom translator Lucas Klein, in his introduction to <a href="http://ndbooks.com/book/notes-on-the-mosquito"><em>Notes on the Mosquito</em></a>, describes thusly: "Xi Chuan (pronounced Sshee Chwahn, not to be confused with Sichuan, the&nbsp;province) has not only become one of contemporary China&rsquo;s most celebrated&nbsp;poets, he is also one of its most hyphenated litterateurs: teacher-essayisttranslator-editor-poet. Eliot Weinberger has described him as a ’polymath,&nbsp;equally at home discussing the latest American poetry as Shang Dynasty&nbsp;numismatics.’"</p>
<p style="text-align: left; ">
	One of the most fascinating aspects of Xi Chuan’s body of work is the very clear distinction between the poems he wrote from 1985-1987, and the poems he’s written since 1990. Klein explains:</p>
<blockquote><p style="text-align: left; ">
		Xi Chuan in his early writing reflected a&nbsp;belief in an international <em>po&eacute;sie pure</em>. His poems&nbsp;often demonstrate the exposed&nbsp;structures and urban timelessness of International Style architecture, or&nbsp;else&nbsp;an abstracted landscape that is clearly China yet, at the same&nbsp;time, not. The landscape exists inside a poetics of mythic power.<br />
		<br />
		The high-lyricism of Xi Chuan&rsquo;s earliest poetry would not last. Because of&nbsp;the government&rsquo;s suppression of the democracy and workers&rsquo; rights movement&nbsp;in Tiananmen Square, in which Xi Chuan participated, 1989 was a hard&nbsp;year for China&rsquo;s young intellectuals; it was an even harder year for Xi Chuan,&nbsp;as on March 26, [his dear friend and fellow poet] Hai Zi committed suicide (he was twenty-five), and on&nbsp;May 31 their mutual friend and fellow Beijing University poet Luo Yihe&nbsp;died from a cerebral hemorrhage (age twenty-eight), days before PLA&nbsp;tanks rolled in on the demonstrators on June 4.<br />
		<br />
		Xi Chuan barely wrote for two years. Nothing in this book is from&nbsp;1989, and only one poem is from 1990. By 1991, his style was shifting: a&nbsp;haunting memory replaces Xi Chuan&rsquo;s earlier timelessness in "Twilight," pushing the modernist lyric beyond its upper limits the way "plains push&nbsp;out from the edge of the city / mountains lift up at the edge of the plains" (’Three Chapters on Dusk’), and ’Bats in the Sunset’ raises the question&nbsp;of whether the bat&mdash;a sign of good luck, since it is a Chinese homonym&nbsp;for ’fortune’ &mdash; should be defined by its Chinese associations or its Western&nbsp;ones, via Goya&rsquo;s <em>El sue&ntilde;o de la raz&oacute;n produce monstros</em>.&nbsp;<br />
		<br />
		When <em>Salute</em> was published in 1992, it was evident that Xi Chuan&rsquo;s&nbsp;poetry had undergone a radical transformation. His self-contained lyric&nbsp;opened into expansive prose poems that often reflexively observed their&nbsp;own poetic method&#8230;&nbsp;including their representation&nbsp;and construction of poetry, metaphor, and language. Rather than undercutting&nbsp;lyricism &agrave; la Han Dong, Xi Chuan&rsquo;s prose poetry allowed him to&nbsp;reevaluate it&nbsp;and examine, rather than take for&nbsp;granted, the interplay between Chinese tradition and a modernity of&nbsp;Western origin.</p>
</blockquote>
<p style="text-align: left; ">
	Below are three poems: one from that first period, and two from the latter.</p>
<blockquote>
<p>		<strong>"The City I Live In"</strong><br />
		<br />
		The city I live in is made of building blocks<br />
		with straight streets and smooth public squares,<br />
		and row-houses low but meticulously ordered<br />
		<br />
		The city I live in has no people<br />
		wind blows through windows a frail, na&iuml;ve whistle<br />
		the rising and setting sun compelling seasons to revolve<br />
		there is only dust in the city I live in<br />
		<br />
		If I died, if color and light died,<br />
		no hand would come knock down this city<br />
		it will exist forever<br />
		because in the city I live in there are no people</p>
</blockquote>
<p>
	&nbsp;</p>
<blockquote>
<p>		from <strong>"Beast"</strong></p>
<p>		The beast, I see it. The beast, fur thick and stiff, teeth sharp, eyes nearly&nbsp;lifeless. The beast, gasping for breath, growling ill fortune, and from its&nbsp;feet, no sound. The beast, with no sense of humor, like a man straining&nbsp;to hide his poverty, like a man ruined by his mission, with no cradle to&nbsp;provide memories, no destination to locate yearning, not enough lies to&nbsp;plead for itself. It smacks a tree trunk and gathers infants; it is alive, like a&nbsp;cliff, and dead, like an avalanche.</p>
<p>	A crow amongst scarecrows searches for a partner.<br /><br />
	<br /><br />
	The beast, it despises my hairstyle, despises my scent, despises my repentance&nbsp;and reserve. In a word, it despises that I deck out happiness in baubles and&nbsp;jewels. It squeezes its way into my room, orders me to stand in the corner,&nbsp;and with no word of explanation collapses in my chair, shatters my mirror,&nbsp;shreds up my curtains and all that belongs to my spiritual defense. I beseech&nbsp;it: &ldquo;Don&rsquo;t take my teacup when I&rsquo;m thirsty!&rdquo; Right there it digs up a spring,&nbsp;which I suppose must be some kind of response.&nbsp;<br /><br />
	<br /><br />
	One ton of parrots, one ton of parrots&rsquo; nonsense!</p>
</blockquote>
<p>
	​​​</p>
<blockquote>
<p>		from <strong>"On My Meaningless Life"</strong></p>
<p>		88. In a crowd of people some people are not people, just as in a flock&nbsp;of eagles some eagles are not eagles; some eagles are forced to wander&nbsp;through alleyways, some people are forced to fly in the sky.<br />
		<br />
		89. I fall asleep as soon as it gets dark, I get up as soon as it&rsquo;s light out.&nbsp;I always dream of a doctor with a fever and a mail carrier with a&nbsp;toothache, and then I meet them; so in order to meet myself I&nbsp;must dream of myself, but dreaming of oneself is so embarrassing.<br />
		<br />
		90. Once I had a dream in which a blind man asked about someone.&nbsp;I replied that I had heard of but didn&rsquo;t know this person. When I&nbsp;awoke, I howled in shock: it was me that the blind man had been&nbsp;looking for!<br />
		<br />
		91. Only when a nail pierced through my hand did my hand reveal&nbsp;the truth; only when black smoke choked me to tears could I feel&nbsp;my existence. Riding sidesaddle on a white horse ten fairies tore&nbsp;up my heart.<br />
		<br />
		92. For this I have changed my name, concealed my identity, wandered&nbsp;lonely as a cloud, resigned myself to fate.</p>
</blockquote> 
      </div>
    </article>
  </div>

    </section>
  


  <div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo"><img src="/static/images/nd_black.svg" alt=""></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Booksellers</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr class="fancy" />

<div class="copy"><p>
	New Directions was founded in 1936, when James Laughlin (1914 - 1997), then a twenty-two-year-old Harvard sophomore, issued the first of the New Directions anthologies. "I asked Ezra Pound for 'career advice,'" James Laughlin recalled. "He had been seeing my poems for months and had ruled them hopeless. He urged me to finish Harvard and then do 'something' useful."
</p></div>



  <ul class="subfooter no-bullet small-print inline">
      <li class="source-org vcarfd copyright">
        <a href=""><span class="org fn">&copy; 2015 New Directions Publishers</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>


</footer>

  
<script type="text/javascript">

function aload(a){"use strict";a=a||window.document.querySelectorAll("[data-aload]"),void 0===a.length&&(a=[a]);var b,c=0,d=a.length;for(c;d>c;c+=1)b=a[c],b["LINK"!==b.tagName?"src":"href"]=b.getAttribute("data-aload"),b.removeAttribute("data-aload");return a}

window.onload = function () {
  aload();
};

  document.documentElement.className = document.documentElement.className.replace("no-js","js");
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/javascript/dist/scripts.min.js";
    document.body.appendChild(element);
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    document.body.appendChild(element_addthis);
    
    // var element_addthis = document.createElement("script");
    // element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    // document.body.appendChild(element_addthis);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>



<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,500:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  
</div>
  </body>
</html>

