
  <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
      
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='http://storage.googleapis.com/'>
    <link rel='dns-prefetch' href='https://lh3.ggpht.com'>



  
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>New Directions Publishers</title>
  
  
  
  <link href='/static/css/screen.css?generated=1423839174' rel='stylesheet' type="text/css" />
  
   

  
  <!--[if lte IE 7]>
    <link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/static/javascript/modernize/modernize.min.js"></script>
  <![endif]-->

  
  
  



  





    
      <link rel="prefetch" href="/article/guernica-interviews-lászló-krasznahorkai/" />
    
    
      <link rel="prefetch" href="/article/fwriction-interviews-translator-susan-bernofsky/" />
    
</head>

<body id="container" class=" article" >
<div class="wrap">
  <a href="#start-of-content" tabindex="1" class="accessibility-aid">Skip to content</a>

  
    <div class="hero">
  
    <header class="navigation">
  <div class="menu-wrapper">

      <nav>
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/" tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/" tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/" tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/" tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/" tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        <li class="nav-sidebar-item"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
        <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/" tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/" tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/" tabindex="13" data-ga-click="Header, go to explore, text:explore">History</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/" tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/" tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    <li class="nav-sidebar-item"><a href="/shop/" tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
  </ul>
</nav>
<div class="js-menu-screen menu-screen"></div>

  
    




 


  
    
      <h1 class="page-heading">Artist Appreciation: Tony Fitzpatrick, Fan of Roberto Bolaño and Tennessee Williams</h1>
    
  
  



  
    </div> 


  
    <section class="content">
      <div id="start-of-content" class="accessibility-aid"></div>
      
  <div class="has-layout layout-page">
    <article class="hentry">
      <header>
        
          <h1 class="entry-title">Artist Appreciation: Tony Fitzpatrick, Fan of Roberto Bolaño and Tennessee Williams</h1>
        
      </header>
      <div class="entry-content prose">
        <p>
	I first came across Tony Fitzpatrick’s wonderful collage art when <a href="http://tonyfitzpatrick.wordpress.com/2011/02/26/739/">this post</a> came up in google alert for Roberto Bola&ntilde;o. Explaining his "Bird for the Daughters of Juarez" (below), he writes:</p>
<blockquote>
<p>		The underlying thematic device, for me, seems to be the world&rsquo;s rapid untethering from any idea of sanity. The murdered women part of ’2666’ is where we hear Bola&ntilde;o at his most ferocious. The murder of innocents is still a thing of incomprehensible sadness; well-worthy of moral outrage even in an insane world.</p>
<p>		I&rsquo;ve heard people describe this book as &ldquo;apocolyptic&rdquo; or &ldquo;millennial,&rdquo; whatever the fuck that means. I&rsquo;m not so sure. I&rsquo;m not so sure about anything with ’2666’ &ndash; even as to whether it was completed or not.&nbsp; Oddly enough though, I was convinced I&rsquo;d read a great book &ndash; in fact, a great few books.</p>
</blockquote>
<p style="text-align: center; ">
	<img alt="2666_bird.jpg" src="http://ndbooks.com/images/journal/2666_bird.jpg" style="width: 400px; height: 558px; " /></p>
<p style="text-align: left; ">
	After looking through his blog and at many more beautiful Juarez-inspired pieces (<a href="http://tonyfitzpatrick.wordpress.com/2011/03/25/the-chihuahua-monster/">here</a>, <a href="http://tonyfitzpatrick.wordpress.com/2011/03/19/the-juarez-beast/">here</a>, and <a href="http://tonyfitzpatrick.wordpress.com/2011/03/12/the-red-bird-for-the-daughters-of-juarez/">here</a>, for example), I got in touch with him and offered to send him some of our Bola&ntilde;o novels. When he got the package, he called to thank me and we ended up talking for an hour &mdash; about everything from Charles Bowden to boxing. Needless to say, I’m a fan.</p>
<p style="text-align: left; ">
	And then yesterday he posted this image:</p>
<p style="text-align: center; ">
	<img alt="Stella.jpg" src="http://ndbooks.com/images/journal/Stella.jpg" style="width: 400px; height: 606px; " /></p>
<p style="text-align: left; ">
	New Directions’ kindred spirit that he seems to be, Fitzpatrick has had a long and loving relationship with the city of New Orleans, and specifically with Tennessee Williams. In the accompanying <a href="http://tonyfitzpatrick.wordpress.com/2012/04/25/stella/">text</a>, he writes:</p>
<blockquote>
<p>		The one who interests me the most in this most American of plays is Stella. Stella Kowalski knows her mentally-challenged, Pop-Tart of a sister and her brutal, sexually rapacious husband are headed toward one another like two locomotives, and it has always seemed to me that she practically curtsies to get out of the way as this happens; knowing that both will exact their temporary satisfaction, as well as their own damning punishments from this act.</p><p style="text-align: left; ">
		After Stanley rapes Blanche, he is finished as a man. Even he knows it. Blanche is taken away to an institution and grateful for &ldquo;the kindness of strangers&rdquo; and Williams hints that they get not only what they deserve, but perhaps, darkly, what they actually want.</p>
</blockquote>
<p style="text-align: left; ">
	&nbsp;Well put.&nbsp;</p>
<blockquote>
<p>		&nbsp;</p>
<p>		&nbsp;</p>
</blockquote> 
      </div>
    </article>
  </div>

    </section>
  


  <div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo"><img src="/static/images/nd_black.svg" alt=""></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Booksellers</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr class="fancy" />

<div class="copy"><p>
	New Directions was founded in 1936, when James Laughlin (1914 - 1997), then a twenty-two-year-old Harvard sophomore, issued the first of the New Directions anthologies. "I asked Ezra Pound for 'career advice,'" James Laughlin recalled. "He had been seeing my poems for months and had ruled them hopeless. He urged me to finish Harvard and then do 'something' useful."
</p></div>



  <ul class="subfooter no-bullet small-print inline">
      <li class="source-org vcarfd copyright">
        <a href=""><span class="org fn">&copy; 2015 New Directions Publishers</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>


</footer>

  
<script type="text/javascript">

function aload(a){"use strict";a=a||window.document.querySelectorAll("[data-aload]"),void 0===a.length&&(a=[a]);var b,c=0,d=a.length;for(c;d>c;c+=1)b=a[c],b["LINK"!==b.tagName?"src":"href"]=b.getAttribute("data-aload"),b.removeAttribute("data-aload");return a}

window.onload = function () {
  aload();
};

  document.documentElement.className = document.documentElement.className.replace("no-js","js");
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/javascript/dist/scripts.min.js";
    document.body.appendChild(element);
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    document.body.appendChild(element_addthis);
    
    // var element_addthis = document.createElement("script");
    // element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    // document.body.appendChild(element_addthis);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>



<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,500:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  
</div>
  </body>
</html>

