

{% set reviews = cms.review|where('category', 'Featured') %} {#  #}
{#   #}
<div class="hero">
  {% include "templates/partials/navigation.html" %}
 <div class="hero-inner">
      {% if reviews %}
        {% for review in reviews|slice(0,1) %} {# |slice(0,1) #}
        <blockquote id="container-review-single" class="review">        
            {% include "templates/partials/format-quotes.html" %}         
        </blockquote>
          {% endfor %}
      {% endif %}
  </div>
</div>


{# 
 block hero 
  <div class="hero"{% if item.banner_image %} style="background-image:url({{ item.banner_image|imageCrop(1600) }});background-size:cover;"{% endif %} data-velocity=".4" data-fit="0">
      <h1 class="page-heading">{{ page_name }}</h1>
  </div>
 endblock  #}