{{ $headerColors := $.Param "headerColors" | default "bg-near-black silver" }}
{{ if isset .Params "featured_image" }}
  {{ $featured_image := absURL .Params.featured_image }}
  {{ $.Scratch.Add "featured_image" $featured_image }}
{{ end }}
  {{ $featured_image := $.Scratch.Get "featured_image" }}


<header class="cover bg-top{{ with $headerColors }} {{ . }}{{ end }}"{{ with $featured_image }} style="background-image: url('{{ . }}');"{{ end }}>

  <div class="{{ if ne $featured_image " " }}bg-black-60 vh-100{{ end }}">
    {{ partial "global/nav.html" .}}
  </div>
</header>


{{/* <!--
  Header Options:

  1) default: NAV black background, no image
  2) NAV transparent background, no image <== SET at SECTION level?
  3) NAV transparent background, header bg image <== SET at PAGE level?


{{ with $bgOverlay }}{{ . }}{{ end }}

--> */}}
