{{/* Set header classes (e.g. colors scheme) at either the global, section, or page level */}}
{{/* Initially set $.Param "headerClasses" at the page or global (config) level, with a default if neither exist */}}
{{ $headerClasses := $.Param "headerClasses" | default "bg-near-black silver"}}
{{/* To set at the section level, get the section the current page belongs to */}}
{{ $section := .Site.GetPage "section" .Section }}
{{/* If the page belongs to a section,  */}}
{{ if $section}}
  {{/* get the section's headerClasses param value, defaulting to the global/page level. */}}
  {{ $headerClasses := $section.Param "headerClasses" | default $headerClasses }}
  {{/* Set the colors based on the page's setting, but if there isn't one, look to the section's settings above */}}
  {{ $headerClasses := .Params.headerClasses | default $headerClasses }}
  {{/* Add to Scratch so we can access it outside of the conditional */}}
  {{ $.Scratch.Add "headerClasses" $headerClasses }}
{{ end }}
  {{/* Define the variable based on what's in Scratch, and if nothing there, get the first default values */}}
{{ $headerClasses := $.Scratch.Get "headerClasses" | default $headerClasses }}


{{ if and (isset .Params "featured_image") (ne .Params.featured_image "")}}
  {{ $featured_image := absURL .Params.featured_image }}
  <header class="cover bg-top{{ with $headerClasses }} {{ . }}{{ end }}"{{ with $featured_image }} style="background-image: url('{{ . }}');"{{ end }}>
    <div class="bg-black-70 vh-100">
      {{ partial "global/nav.html" .}}
    </div>
  </header>
{{ else }}
  <header class="{{ with $headerClasses }} {{ . }}{{ end }}">
    {{ partial "global/nav.html" .}}
  </header>
{{ end }}







{{/* <!--
  Header Options:

  1) default: NAV black background, no image
  2) NAV transparent background, no image <== SET at SECTION level?
  3) NAV transparent background, header bg image <== SET at PAGE level?

--> */}}
