{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% set now = Date() %}
{% set current_date = now |date('U') %}
{% block head_extra %}
  {#  Adds CSS Styles to the head to show featured image in the hero unit  #}
  {% include "templates/partials/head_extra.html" %}
{% endblock %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
    {% include "templates/partials/hero-home.html" %}
  {% endblock %}
{% block content %}


{% set books = global.featured_books_home %}
  

    <div class="flex-boxes" style="margin-top:70px;">
      {% if books %}
        {% for object in books|slice(0,3) %} {# reversed #}
          {% include "templates/partials/format-books-blocks.html" %}
        {% endfor %}
      {% endif %}
      
      {# //END AUTHORS BOOKS #}
</div>



{% include "templates/partials/layout-mailing-list.html" %}

<section class="row" style="margin:3em .375em;">
  {% include "templates/partials/cards-articles.html" %}

</section>





{% endblock %}


<section class="row" style="margin-top:3em;">
  {% set books = global.featured_books_home %}
  {% if books %}
    {% for object in books|slice(0,1) %} 
      {% include "templates/partials/format-books-list-single.html" %}
    {% endfor %}
  {% endif %}
</section>



{# 
TODO: 
- improve styling of book buttons
- add buy links
- show link to additional related articles
- make link to top of page a perfect circle
 

 #}