.footer {
  $footer-background: $blackest;//desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: #888;//transparentize($footer-color, .1);

  background: $footer-background;
  padding: 2em .5em 4px .5em;
  //padding-bottom: 4px;
  width: 100%;
  color: $footer-disclaimer-color;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      height: 3em;
    }
  }

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3.5);
    }
  }

  .footer-links ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    margin-bottom:1em;

    @include media($medium-screen) {
      margin-bottom:.35em;
    }

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;


    &:hover {
      color: white;//transparentize($footer-color, 2);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 2.5em auto;
    width: 12em;
  }
  .copy {
    max-width:90%;


    @include media($medium-screen) {
      max-width: 66.6%;
    }

    margin: auto;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
