@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  ///////////////////////////////////////////////////////////////////////////////////
  //$base-accent-color: #477DCA !default;
  //$base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  p {
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $grid-items-background: $base-background-color;
  $grid-item-background: darken($base-background-color, 3%);//desaturate($base-accent-color, 30%);
  $grid-item-colors:
    darken($base-background-color, 8%), //desaturate($base-accent-color, 30%),
    darken($base-background-color, 4%), //#3581A5,
    darken($base-background-color, 3%), //#5FBEBE,
    darken($base-background-color, 2%), //#98C79A,
    darken($base-background-color, 5%), //#A7A891,
    darken($base-background-color, 3%), //#BDCC97,
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 9%), //#979EA0;
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 13%), //#979EA0;
    darken($base-background-color, 7%), //#979EA0;
    darken($base-background-color, 1%), //#979EA0;
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 13%), //#979EA0;
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 5%), //#979EA0;
    darken($base-background-color, 2%), //#979EA0;
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 7%), //#979EA0;
    darken($base-background-color, 2%), //#979EA0;
    darken($base-background-color, 13%), //#979EA0;
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 3%), //#979EA0;
    darken($base-background-color, 3%); //#979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-small-columns: 2.4;//3;
  $grid-item-big-columns: 8;
  $grid-item-full-columns: 12;
  $grid-item-color: #000;//$base-font-color;// white;
  $grid-item-height: 13.75em;
  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    /////cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    //text-align: left;
    width: 100%;

  //   &:nth-child(even) {
  //   background-color: darken($grid-item-background, 23%);
  // }
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;

    figure[image], img {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      text-align: center;
      color: darken($base-background-color, 32%);
    }

    blockquote{
      font-family: $brand-font-family;
      margin:0;
      font-size: 1.125em
    }

    cite {
      font-family: $sans-serif;
      font-size:.9em;
    }


    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        //box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          // background-repeat: no-repeat;
          // //background-position: top;
          // background-size: cover;
          background-size: auto 100% ;//110%;
          background-position: center center;
          background-repeat: repeat-x;
          color: #000;
          @include transition (all .9s ease-in-out);
        }
      }
    }
  }





  // &:focus,
  //       &:hover {
  //         background-color: darken($grid-item-background, 30%);


  //       }


  // .grid-item img {
  //     display: block;
  //     height: 3em;
  //     margin-bottom: 1em;
  //     margin: auto;
  //   }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      margin: auto;
      color: $grid-item-color;
      //color: transparentize($grid-item-color, 0.3);

      // @include media($medium-screen) {
      //   max-width: 90%;
      // }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    // p {
    //   @include media($medium-screen) {
    //     max-width: 90%;
    //   }
    // }
  }

  .grid-item-small {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-small-columns);
      padding: 2em 0 0 0;
  }
}

.grid-item-full {
    height: auto;
    @include media($large-screen) {
      @include grid-item-columns($grid-item-full-columns);
      //padding: 2em 0 0 0;
      p {
        margin: auto auto .5em auto;
      }
  }
}


  .grid-item-expand {
    height: 21em;
    @include media($medium-screen-up) {
      height: $grid-item-height;
    }
  }

  .grid-item-image {
    // background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// .grid-item.item {
//   padding: 1em;
// }

body.home .grid-item h2 {
  text-align: center;
}
  .naked {
          background-color:darken($base-background-color, 2%);
        }



 // body.home .grid-items .author {
 //    background-color: darken($base-background-color, 8%);

 //  }
 // body.home .grid-items .book {
 //    background-color: darken($base-background-color, 4%);
 //  }

 // body.home .grid-items .article {
 //    background-color: darken($base-background-color, 10%);
 //  }

 // body.home .grid-items .event {
 //    background-color: darken($base-background-color, 12%);
 //  }


body.home .grid-items .author, body.home .grid-items .book, body.home .grid-items .article, body.home .grid-items .event {
  background-color: darken($base-background-color, 4%);
}