@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-container {
//  width: 90%;
  margin: auto;
  @include outer-container;
}

.author-nav {
  background-color: #191919;
  //background-color: rgba(0,0,0,0.7);

  width: 3%;
  position: fixed;
  right: 0;
  top: 0;
  padding: 145px 2% 15% .72em;
  text-align: justify;

  a {
   color: #808080;

  }

}

.grid-items-lines {
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;
  $grid-item-padding: 2em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: $grid-item-padding;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;



    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: transparentize($grid-item-color, .98);
    }
  }



  .grid-item .img {
      display: block;
      //height: $grid-item-height;
      margin-bottom: 0;//1.2em;
      //opacity: .9;
      max-width: 190px;
      max-height: 190px;
      border: 4px solid #DDD

    }
    .image-crop {
  height: $grid-item-height - ($grid-item-padding * 2);
  width: 10em;
  overflow: hidden;
  float: left;
  margin-right: 1em;
}


  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, .4);
      @include media($medium-screen) {
        max-width: 90%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}

