.hero {
  // $hero-background: $black;//darken($base-accent-color, 25);
  // $hero-color: $medium-gray;
  //padding-bottom: 4em;

  //if background, set locally
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  //background-color: $hero-background;
  //min-height: 14.6785em; //235px
  //min-height: 21.875em; //350px
  position: relative;
  .hero-inner {
    @include outer-container;
    @include clearfix;
    
    margin: auto;
    text-align: center;
    //color: $hero-color;


    .books {
      text-align: left;
      line-height: 1.1;
        padding: 1em;
    }

    @include media($large-screen) {
      padding: 3em;
      background-attachment: fixed;
      background-repeat: no-repeat;


    blockquote {
      max-width: 60%;
      margin: auto;
    }
  }

    .hero-copy {
      text-align: center;

      blockquote {
        padding-bottom:5em;
      }

      input {
        width: 100%;
        padding: .5em;
        margin-bottom: .375em;
        @include media($large-screen) {
        font-size: 1.8em;
        }
        border: none;
        border-radius: 3px;
        color: #666;
      }

      h1 {
        font-size: 1.4375em;
        text-align: left;
        margin-bottom: .5em;
        @include media($large-screen) {
          font-size: 3em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 1em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          //max-width: 40%;
        }
      }
    }
  }
}

.featured_image {
  @include media($large-screen) {
  background-attachment: fixed;
  }
}

@include media($medium-screen-down){
  h1 small:before {
    content:"";
    display:table;
  }
}


//============ page level overrides ===================//

// body.pages .hero-inner { //cuz pages have the content sticking up over the hero unit
//   padding: 3em 3em 7em 3em;
// }

// .hero-copy blockquote {
//   padding-bottom: 6em;
// }



h1.page-heading {
  //position: absolute;
  font-size:6em !important;
  //color: darken($base-background-color, 5%) !important;
  //left: 1em;
  //bottom: -19px;
  //bottom: 0;//-35px;
  text-align: left;
  font-weight: 400;
  padding: 20px;

}
body.book .hero {
  min-height: 14.6785em; //235px
  //min-height: 320px;
}

body.article .hero-inner {
   height:200px;
  @include media($large-screen) {
   height:500px;
  }
}