img.grayscale, .grayscale img {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);

  filter: url('/assets/images/gray.svg#grayscale');
  filter: gray;
}


aside.photo img {
  box-shadow: 0 13px 50px rgba(0,0,0,0.3);
}

.img-180px {
  height: 180px;
  width: 180px;
}

.object-fit_fill { object-fit: fill; }
.object-fit_contain { object-fit: contain; }
.object-fit_cover { 
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.object-fit_none { object-fit: none; }
.object-fit_scale-down { object-fit: scale-down; }