//==========================GENERAL =====================================\\
.row {
  @nclude row();
}
.interior {
  @include outer-container;
}

.shifted-to-center {
  display:block;
  @include media($medium-screen-up) { 
    margin-left:60%;  
  }
}

.with_space {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
.spaced-bottom-2em {
  margin-bottom: 2em;
}

.entry-content {
  text-align: left;
  padding-top: 2em;
}

.row-bottom {
  display: block;
  width: 100%;
  clear:both;
  background-color:darken($base-background-color, 5%);
  margin-top:10em;
  color: #191919;
  padding: 6em 1em 8em 1em;
  .interior {

  }

  &:hover {
    background-color:darken($base-background-color, 10%);
    text-shadow: none;
  }
}
.next-splash_image {
  color: white;
  text-shadow: 1px 1px 0 #000;
}

//========================== ARTICLE =====================================\\

article {
  overflow: hidden;
  background-color: $article-color-background;
  @include pad(2em);
  @include media($medium-screen-up) { 
    @include pad(4em);
  }
}

article.hentry {
  border-radius:0;
  header {
    margin-bottom: .5em;
  }
  @include media($medium-screen-up) {
    border-radius:2px;
  }
}

aside {
   @include pad(2em);
}

//========================== TWO COLUMN PAGES, MAYBE REFACTOR? =====================================\\

.two-column-first {
  display: none; 
  @include media($medium-screen-up) {
    display: block;
    @include span-columns(3 of 12);
    margin-top: 3.5em;
  }
  img {
    max-width: 100%;
    margin-bottom: 4em;
    box-shadow: 0 13px 50px rgba(0,0,0,0.3);
  }
}

.two-column-last {
  @include span-columns(12);
  @include media($medium-screen-up) {
    @include span-columns(8 of 12);
    @include shift(1);
    @include omega();   
  }
}

.covers-list {
 @include span-columns(2 of 12); 
}

//========================== LAYOUTS =====================================\\

body.post .content {
  // remove the padding so we can display our next post at the bottom of the page
  padding-bottom: 0;
}


//========================== ARTICLE =====================================\\
.layout-article { 
  article {
    @include outer-container;
    .entry-content {
        @include span-columns(12);
      }
    aside {
      @include span-columns(12);
      @include pad(1em 1em 0 0);
      img {
        box-shadow: 0 13px 50px rgba(0,0,0,0.3);
      }
    }
    @include media($large-screen-up) {
      .entry-content {
        @include span-columns(7 of 12);
        @include omega();   
        //@include shift(.5);
      }
      aside {
          @include span-columns(2.5 of 12);
      }
    }
  }
}



//========================== PAGE =====================================\\


.layout-page { //pages
  @include outer-container;
  padding-top:3em;
  article {
    @include span-columns(12);
  }
  aside {
    @include span-columns(12);
  }

  @include media($medium-screen-up) {
    article {
      @include span-columns(9 of 12);
        margin-top: -6.75em;
        @include shift(1.5);
    }
    aside {
      @include span-columns(3 of 12);
      //@include reset-display;???
    }
  }
}

.layout-page-2-column {
  @include outer-container;
    margin-top: 2em;
  aside {
    //min-height: 100px;
    height: auto;
    width: 100%;
    position: relative;
    margin: 0 auto 2em auto;
    border-radius: 2px;
  }
  .content-primary {
    @include span-columns(12);
  }
  .content-secondary {
    @include span-columns(12);
  }

  @include media($medium-screen-up) {
    .content-primary {
      @include span-columns(8 of 12);
      @include shift(.5);

    }
    .content-secondary {
      @include span-columns(3 of 12);
      //@include reset-display;???
    }
  }
}


.layout-page-2-column-wide-secondary {
// using this layout on the events page,two widish, but not quite even columns
  @include outer-container;
  margin-top: 2em;
  aside {
    height: auto;
    margin: 0 auto 2em auto;
    border-radius: 2px;
  }
  .content-primary {
    @include span-columns(12);
  }
  .content-secondary {
    @include span-columns(12);
  }
  @include media($medium-screen-up) {
    .content-secondary {
      @include span-columns(4 of 12);
      //@include reset-display;???
      @include omega();   
    }
    .content-primary {
      @include span-columns(7 of 12);
      @include shift(.5);
    }
  }
}


//========================== AUTHOR =====================================\\

.layout-author {
  // special layout that divides top row into three columns, and then shifts them so the bio on the right shows
  // up on top (effectively left) on smaller viewports
  @include outer-container;
  article {
    @include pad(1em 2em);
  }
  article, aside.photo, aside.metadata {
    @include span-columns(12);
  }
  aside.metadata h6 {
    clear:both;
    margin-top:.5em;
    //border-bottom:1px solid #ddd;
  }
  blockquote {
    padding: 2em;
  }

  // @include media($medium-screen-up) {
  //   blockquote {
  //     padding: 2em 10em;
  //   }
  //   article {
  //     @include span-columns(9 of 12);
  //     margin-top:-65px;
  //     @include shift(4);
  //   }
  //   aside.metadata {
  //     @include span-columns(12 of 12);
  //     @include pad(3.5em 0);//// overide 2em general padding
  //      @include shift(0);
  //   }
  //   aside.photo {
  //     @include span-columns(3 of 12);
  //     @include pad(1em 0);
  //     @include omega();
  //      @include shift(-12);
  //   }

  // }
  @include media($large-screen-up) {
    article {
      @include span-columns(4 of 12);
      margin-top:-65px;
      @include shift(8);
      position: relative;
    }
    aside.metadata {
      @include span-columns(5 of 12);
      @include pad(3.5em 0);
       @include shift(-9);
    }
    aside.photo {
      @include span-columns(3 of 12);
      @include pad(1em 0);
      @include omega();
       @include shift(-12);
    }
  }

}

// body.has-featured_image .layout-author article {
//   margin-top:1em;
// }

//========================== BOOK =====================================\\

.layout-book {
  section {
    padding: 3em auto;
  }
  @include outer-container;
  .quotes blockquote {
      padding: 1em 2.5em;
    }
  article.hentry {
    @include span-columns(12);
    /////////////////////////////////@include pad(2em);
    position: relative;
  }
  //============================ book-splash for individual book pages ================================================\\
  .cover, .copy {
    @include span-columns(12);
  }
  .cover {
    @include pad(1em);
    img {
      max-width: 100%;
    }
  }
  .copy {
    @include pad(2em);
  }

  @include media($medium-screen-up) {
    .quotes blockquote {
      padding: 2em 10em;
    }
    .cover, .copy {
      @include span-columns(6 of 12);
      text-align: center;
    }
    article.hentry {
      @include span-columns(8 of 12);
      @include shift(2);
      margin-top:5em;
      margin-bottom:2em;
    }
    section.author-about {
      @include span-columns(5 of 12);
      @include pad(0);
    }
    section.author-metadata {
      @include span-columns(5 of 12);
    }
  }
}

a:hover aside {
  opacity: 0.9;

}

//========================== BLOG =====================================\\
.layout-single-column {


    @include outer-container;


  article.hentry, aside.photo, aside.metadata {
    @include span-columns(12);
  }

  aside.metadata h6 {
    clear:both;
    margin-top:.5em;
    //border-bottom:1px solid #ddd;
  }

  @include media($medium-screen-up) {

    blockquote {
      padding: 2em 10em;
    }

    article.hentry {
      @include span-columns(4 of 12);
      margin-top:-65px;
      @include shift(8);
    }

    aside.metadata {
      @include span-columns(5 of 12);
      @include pad(3.5em 0);
       @include shift(-9);
    }

    aside.photo {
      @include span-columns(3 of 12);
      @include pad(1em 0);
      @include omega();
       @include shift(-12);

    }

  }

}
//=== end one column

// for pages




body.post .hero {
  min-height: 350px;

  h1 {
    margn: auto;
  }
}



.has-layout-post { //pages
  @include outer-container;


  .entry-content blockquote {
    font-size: 1.4em;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 2em;
@include media($medium-screen-up) {
    margin-left: -25.58941%;
  }
  }


.lede, .lede p {
  font-family: $header-font-family;
  font-size: 1.3125em;
  max-width: 80%;
}

  article {
      overflow: visible;
      @include span-columns(12);
        background:none !important; //overriding for the blog
        font-family: $serif;

    h2, h3 {
      margin-bottom: 2em;
    }
  }

  aside {
    @include span-columns(12);
    img {
      margin: 3em auto;
      max-width: 100%;
      box-shadow: 0 30px 50px rgba(0,0,0,0.3);
    }
  }
  @include media($medium-screen-up) {

    article {
      @include span-columns(8 of 12);

      p {
        font-size: 1.3125em;
      }

        h1.entry-title {
          font-size: 3.75em;
        }
    }
    article.top {
      @include span-columns(9 of 12);
        margin-top: -7.75em;
        background-color:$base-background-color !important; //overriding for the blog
        color: #191919;
       // text-shadow: 1px 1px 0 #888;
      }
    aside {
      @include span-columns(3 of 12);
      //@include reset-display;???
      margin-top: 6px;
      min-height: 500px;
    }
  }
}
