.small-print {
	font-size:12px;
}

ul.inline {
	padding:0;
	margin:0;
}
ul.inline li{
	line-height:1;
	display: inline;
	margin:0 2.2em 0 0;
	padding:0;
}

ul.subfooter {
	margin-top:5em;
}

ul.margin-none {
	margin: 0;
}

ul.block-list {
		clear:both;
		margin-top:.375em;
		li {
			margin-bottom:.5em;
			font-family: $header-font-family;
			
		}
		// @include media($medium-screen-up) {
		// 	font-size: .9em;
		// }
		a:hover {
			background-color: darken($base-body-color-background, 5%);
		}
}


ul.columns {
		
		@include media($medium-screen-up) {
			@include columns(2 2em);
			@include column-rule(1px solid $light-gray);

		}
}




.hero ul.links {
  margin-top: 1em;
  @include media($small-screen-up) {
      float: right
  }
}


ul.links li{
  margin-right: .5em;
  margin-bottom: .75em;
  display: inline-block;
}

ul.links li a{
  border: 1px solid darken($medium-gray, 20%);
  border-radius: 3px;
  padding: .25em .425em;
  margin-right: .5em;
  margin-bottom: .75em;
  display: inline-block;
}

ul.links li a:hover{ 
	@include transition (all 0.2s ease-in-out);
	background-color: $black;
	color: $lightest-gray;
}

