// This module may be incompatible with sidebar-right

$splash-height: 200px !default;
$splash-color: #999 !default;
$splash-color-background:#DDD !default;


.splash {
	margin-top: $navigation-height * -1;
	height: $splash-height;
	overflow: visible;
	display: none;
	background-position: center top;

		@include media($d-vp) {
			display: block;
			//The following items fix our image so that we can use
			// the parallax effect//dependency for the parallax effect
			position: fixed;
			top:150px;
			left:0;
			z-index: -1;
		}

		max-height:$splash-height;
		width: 100%;
		background-color: $splash-color-background;

		

}

.content_splash {
		margin-top: 0;
		background-color: white;

			@include media($d-vp) {
				margin-top: $splash-height;

				
		}
}


body.height-200 .splash{
			height: 200px;
		}
		body.height-400 .splash{
			height: 400px;
		}
		body..height-500 .splash{
			height: 500px;
		}

body.height-200 .content_splash{
			margin-top: 200px;
		}
		body.height-400 .content_splash{
			margin-top: 400px;
		}
		body..height-500 .content_splash{
			margin-top: 500px;
		}

