a.previous, a.next {
	position: fixed;
	// background-color: #e4e4e4;
	// background-color: rgba(0,0,0,.05);
	color: rgba(0,0,0,.3);
	color: #191919;
	padding: 1em .5em .9em .5em;
	bottom: 10px;
	i {
		font-size:22px;
		opacity: .6;
	}
	z-index: 101;
	@include transition(color 0.2s linear);
  .next-title, .prev-title {
    font-family: $base-font-family;//$brand-font-family;
    visibility: hidden;
    opacity: 0;
    @include transition(opacity 0.2s linear);
  }
	@include media($medium-screen-up) {
  	position: fixed;
  	//top: 25%;
		//top: 263px;
  	height: 3.5em;
  }
}
body.book a.previous, body.book a.next {
	@include media($medium-screen-up) {
		top: 400px;
	}
}
a.previous:hover, a.next:hover {
	@include animation(scale 1.0s ease-in, slide 2.0s ease);
	i {
		display: none;
	}
  background-color: rgba(0,0,0,0.9);
  @include media($medium-screen-up) {
    background-color: rgba(0,0,0,0.9);
  }
  color: rgba(255,255,255,.8);
	.next-title, .prev-title {
		visibility: visible;
		opacity: 1;
 	}
}

a.previous {
  border-radius: 0 4px 4px 0;
	left: 0;
}
a.next {
  border-radius: 4px 0 0 4px;
  right: 0;
}
