img, aside img {
  max-width: 100%;
}


hr {

margin:1em auto;
border: 0;
border-top: 1px solid #EEEEEE;
}


hr.section-divider {
  border-top:none;
  display:block;
  width:100%;
  clear:both;
  margin:0 4em ;
}


hr.transparent {
  border-top:1px solid transparent;
}

hr.fancy {
  border-top: 5px solid $lightest-gray;
    @include border-radius(90%);
}



.sharing {
margin-top: 4em;
}


.hidden-js, .hidden, .no-js {
  display: none;
}

#instantclick-bar {
  background: $red;
}
.invisible{
  visibility: hidden;
}


.hide {
  display: none;
}


.clear {
  clear: both;
}