
  <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
      
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='http://storage.googleapis.com/'>
    <link rel='dns-prefetch' href='https://lh3.ggpht.com'>



  
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>New Directions Publishers</title>
  
  
  
  <link href='/static/css/screen.css?generated=1423839185' rel='stylesheet' type="text/css" />
  
   

  
  <!--[if lte IE 7]>
    <link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/static/javascript/modernize/modernize.min.js"></script>
  <![endif]-->

  
  
  



  





    
      <link rel="prefetch" href="/author/jeffery-meyers/" />
    
    
      <link rel="prefetch" href="/author/vincent-mchugh/" />
    
</head>

<body id="container" class=" author" >
<div class="wrap">
  <a href="#start-of-content" tabindex="1" class="accessibility-aid">Skip to content</a>

  
    <div class="hero">
  
    <header class="navigation">
  <div class="menu-wrapper">

      <nav>
        <ul id="navigation-menu-left" class="nav-topbar-menu">
          <li class="nav-sidebar-item"><a href="/books/" tabindex="2" accesskey="b" data-ga-click="Header, go to explore, text:explore">Books</a></li>
          <li class="nav-sidebar-item"><a href="/authors/" tabindex="3" accesskey="a" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
          <li class="nav-sidebar-item"><a href="/about/" tabindex="4" data-ga-click="Header, go to explore, text:explore">History</a></li>
          <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="5" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
        </ul>
        <a href="/"class="nav-topbar-logo" tabindex="6" accesskey="h">
          <div class="logo-title">New Directions</div>
      </a>
      <!-- <a href="" class="navigation-menu-button js-menu-trigger" id="js-mobile-menu">&#9776; MENU</a> -->
      <ul id="navigation-menu-right" class="nav-topbar-menu">
        <li class="nav-sidebar-item"><a href="/blog/" tabindex="7" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
        <li class="nav-sidebar-item"><a href="/events/" tabindex="8" data-ga-click="Header, go to explore, text:explore">Events</a></li>
        <li class="nav-sidebar-item"><a href="/shop/" tabindex="9" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
        <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="10" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
      </ul>
    </nav>
<div type="button" id="js-menu-trigger" class="js-menu-trigger sliding-menu-buttonTK navigation-menu-button">&#9776; MENU</div>
  </div>
</header>


<nav id="js-menu" class="js-menu sliding-menu-content">
  <ul>
    <li class="nav-sidebar-item"><a href="/books/" tabindex="11" data-ga-click="Header, go to explore, text:explore">Books</a></li>
    <li class="nav-sidebar-item"><a href="/authors/" tabindex="12" data-ga-click="Header, go to explore, text:explore">Authors</a></li>
    <li class="nav-sidebar-item"><a href="/about/" tabindex="13" data-ga-click="Header, go to explore, text:explore">History</a></li>
    <li class="nav-sidebar-item"><a href="/about/resources/" tabindex="14" data-ga-click="Header, go to explore, text:explore">Resources</a></li>
    <li class="nav-sidebar-item"><a href="/blog/" tabindex="15" data-ga-click="Header, go to explore, text:explore">Blog</a></li>
    <li class="nav-sidebar-item"><a href="/events/" tabindex="16" data-ga-click="Header, go to explore, text:explore">Events</a></li>
    <li class="nav-sidebar-item"><a href="/shop/" tabindex="17" data-ga-click="Header, go to explore, text:explore">Shop</a></li>
    <li class="nav-sidebar-item"><a href="/about/contact/" tabindex="18" data-ga-click="Header, go to explore, text:explore">Contact</a></li>
  </ul>
</nav>
<div class="js-menu-screen menu-screen"></div>

  
    




 



  

    
      
        <div class="hero-inner">
          <div class="hero-copy">
            
              
              <blockquote id="container-review-single" class="review">        
                <p>An achingly beautiful fictional account of the rise and fall of the Emperor&nbsp;Napoleon.</p>
— 

  
    Abby Margulies, <em>Words Without Borders</em>

   


  on 



  <a href="/book/the-hundred-days/">The Hundred Days</a>



         
              </blockquote>
              
            
         </div> 
        </div>
      
    





  
    </div> 


  
    <section class="content">
      <div id="start-of-content" class="accessibility-aid"></div>
      

  <div class="has-layout layout-author">
      
      
    <article class="authors hentry">
      <header>
        
          <h1 class="entry-title">Joseph Roth</h1>
        
          
          <strong>20th Century Austrian writer</strong>
      
      </header>
      <div class="entry-content prose">
        <p>
	Joseph Roth (1894-1939), was the great elegist of the cosmopolitan, tolerant, and doomed culture that flourished in the dying days of the Austro-Hungarian Empire. Born into a Jewish family in Galcia, on the eastern edge of the empire, he was a prolific political journalist and novelist. On Hitler’s assumption of power, he was obliged to leave Germany, and Roth died in poverty in Paris.&nbsp;</p>
        
      </div>
    </article>




          

    <aside class="metadata">

      



        
      <h5><small>by</small> Joseph Roth</h5>
      <ul class="block-list">
        
          <li>
            <a href="#bookthe-hundred-days">The Hundred Days</a>
          </li>
        
          <li>
            <a href="#bookthe-emperors-tomb">The Emperor&#39;s Tomb</a>
          </li>
        
          <li>
            <a href="#bookthe-leviathan">The Leviathan</a>
          </li>
        
      </ul>



      



       



       



      

    </aside>

    
      <aside class="photo">
        
  <img data-aload="http://storage.googleapis.com/ndimages/Roth_Joseph.jpg" alt="cover image for Joseph Roth" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/Roth_Joseph.jpg" alt="cover image for Joseph Roth" class="width-500">
    </noscript>



      </aside>


    

    <hr class="section-divider" />

      
      
        
          
            <blockquote id="container-review" class="review">
              <p>There is a poem on every page of Joseph&nbsp;Roth.</p>
— 

  
    Joseph Brodsky

   


  on 



  <a href="/book/the-hundred-days/">The Hundred Days</a>




            </blockquote>
          
            <blockquote id="container-review" class="review">
              <p>This is not perhaps the real Napoleon, but it's certainly a remarkable creation that leaps off the&nbsp;page.</p>
— 

  
    Jake Kerridge, <em>The Telegraph</em>

   


  on 



  <a href="/book/the-hundred-days/">The Hundred Days</a>




            </blockquote>
          
            <blockquote id="container-review" class="review">
              <p>The totality of Joseph Roth's work is no less than a <em>tragédie humaine </em>achieved in the techniques of modern&nbsp;fiction.</p>
— 

  
    Nadine Gordimer

   


  on 



  <a href="/book/the-emperors-tomb/">The Emperor&#39;s Tomb</a>




            </blockquote>
          
        
      
    </div>


    <div class="page-items">
      
         
          

<div class="page-item case-1"  id="bookthe-hundred-days"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/hundred_days_cover.jpg" alt="cover image for The Hundred Days" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/hundred_days_cover.jpg" alt="cover image for The Hundred Days" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/the-hundred-days/">
          The Hundred Days <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p><em>The Hundred Days</em>&mdash;that span between Napoleon&rsquo;s escape from Elba and his final defeat at Waterloo&mdash;describes the great Emperor&rsquo;s last grab for glory. From the perspective of Napoleon himself and the devoted palace laundress Angelina&mdash;also from Corsica, a hard-luck case who deeply loves him&mdash;Roth refracts the deep sorrow of their seemingly intertwined fates.</p>

<p>Roth&rsquo;s signature lyrical elegance and haunting atmospheric details sing in <em>The Hundred Days</em>. &ldquo;There may be,&rdquo; as James Wood has stated, &ldquo;no modern writer more able to combine the novelistic and the poetic, to blend lusty, undamaged realism with sparkling powers of metaphor and simile.&rdquo;</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/the-hundred-days/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Clothbound and 
        
      
        
          
          Ebook
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811222785" target="_blank" class="Clothbound">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811222785" target="_blank" class="Clothbound">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811222785'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811222785").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811222785") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
     
      
              
        <li>
          <a href="http://itunes.apple.com/us/book/isbn9780811222792" target="_blank" class="Ebook">
            Apple iBooks
          </a>
        </li>
         
    
  </ul>
</div>
      
    </div>
  </section>
</div>
         
          

<div class="page-item case-2"  id="bookthe-emperors-tomb"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/Emperors_Tomb.jpg" alt="cover image for The Emperor&#39;s Tomb" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/Emperors_Tomb.jpg" alt="cover image for The Emperor&#39;s Tomb" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/the-emperors-tomb/">
          The Emperor&#39;s Tomb <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p>
	Joseph Roth’s final novel is a haunting elegy to the vanished world of the Austro-Hungarian Empire and a magically evocative paean to the passing of time and the loss of hope. <em>The Emperor’s Tomb</em> runs from 1913 to 1938, from the eve of one world war to the eve of the next, from disaster to disaster. It is also a love story for Vienna. Striped with beauty and written in short propulsive chapters &mdash; full of upheavels, reversals, and abrupt twists of plot &mdash; the novel powerfully sketches a time of change and loss. Prophetic and regretful, intuitive and exact, <em>The Emperor’s Tomb</em> tells of one man’s foppish, sleepwalking, spoiled youth and his struggle to come to terms with financial ruin, the coarsening of the world around him, and the first stirrings of Nazi barbarism.&nbsp;</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/the-emperors-tomb/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Paperback and 
        
      
        
          
          Ebook
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811221276" target="_blank" class="Paperback">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811221276" target="_blank" class="Paperback">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811221276'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811221276").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811221276") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
     
      
              
        <li>
          <a href="http://itunes.apple.com/us/book/isbn9780811221283" target="_blank" class="Ebook">
            Apple iBooks
          </a>
        </li>
         
    
  </ul>
</div>
      
    </div>
  </section>
</div>
         
          

<div class="page-item case-3"  id="bookthe-leviathan"> 
  <section>
    <div class="book-cover">
      
  <img data-aload="http://storage.googleapis.com/ndimages/leviathan.JPG" alt="cover image for The Leviathan" class="width-500">
    <noscript>
      <img src="http://storage.googleapis.com/ndimages/leviathan.JPG" alt="cover image for The Leviathan" class="width-500">
    </noscript>



      <br />
    </div>
    <div class="book-info" style="margin-top:-.5rem;">
      <h1 class="book-title">
        <a href="/book/the-leviathan/">
          The Leviathan <i class="icon-right-circled"></i>
        </a>
      </h1>
      <div class="facing-item">
        
          <h2><small>Fiction</small></h2>
         
        
          <p>
	In the small town of Progrody, Nissen Piczenik makes his living as the most respected coral merchant of the region. Nissen has never been outside of his town, deep in the Russian interior, and fantasizes that a Leviathan watches the coral reefs. When the sailor nephew of one of Progrody’s residents comes to visit, NIssen loses little time in befriending him for the purpose of learning about the sea. The sailor offers Nissen a once-in-a-lifetime opportunity to come to Odessa and tour his ship. Nissen leaves his business during the peak coral season, and stays in Odessa for three weeks. But upon his return to Progrody, Nissen finds that a new coral merchant has moved into the neighboring town, and his coral is quickly becoming the most sought after. As his customers dwindle, life takes an evil twist for Nissen Piczenik. And the final decider of his fate may be the devil himself.</p>
        
      </div>
      <hr class="transparent" />
      <button name="button"> <a href="/book/the-leviathan/">more information</a> </button> 
      
        
      
      
        <hr class="transparent" />
        



<div id="buy-links">

  <p>
    <strong>
      
        
          
          Available editions: Paperback and 
        
      
        
          
          Ebook
        
      
    </strong>
  </p>
  <ul class="links">
    
      
        
                      
            <li>
              <a href="http://www.indiebound.org/product/info.jsp?isbn=9780811219259" target="_blank" class="Paperback">
                Your Indpendent Bookstore
              </a>
            </li>              
            <li>
              <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN=9780811219259" target="_blank" class="Paperback">
                Barnes & Noble
              </a>
            </li>        
            <li id='isbn10_9780811219259'></li><!--  pulls in 10 digit ASIN for -->
            <script type="text/javascript">
function ISBN13toISBN10(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_9780811219259").innerHTML='<a href="http://www.amazon.com/dp/' + ISBN13toISBN10("9780811219259") +'" title="Amazon" target="_blank" >Amazon</a>';
</script>


        
      
    
     
      
              
        <li>
          <a href="http://itunes.apple.com/us/book/isbn9780811219327" target="_blank" class="Ebook">
            Apple iBooks
          </a>
        </li>
         
    
  </ul>
</div>
      
    </div>
  </section>
</div>
        
      
      
      
</div>


<ul class="icon-circle">
  <li>
    <a href="#container">
      <i class="icon-ion-ios-arrow-thin-up"></i>
    </a>
  </li>
</ul>



  
  


<div class="page-icons">
      
    <a class="previous" href="/author/hilda-rosner/"><i class="icon-ion-chevron-left icon-ion-ios-arrow-back"></i> <span class="prev-title">Hilda Rosner</span></a>
  
  
    <a class="next" href="/author/jerome-rothenberg/"><span class="prev-title">Jerome Rothenberg</span> <i class="icon-ion-chevron-right icon-ion-ios-arrow-forward"></i></a>
  
</div>
<script>
  document.body.onkeyup = function(e){
    if (e.keyCode == '37') { window.location = '/author/hilda-rosner/'; }
    if (e.keyCode == '39') { window.location = '/author/jerome-rothenberg/'; }
  };
</script>

    </section>
  


  <div class="push bg"></div>
<footer class="footer" id="content-info">
  <div class="footer-logo">
    <a href="" class="hero-logo"><img src="/static/images/nd_black.svg" alt=""></a>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>About Us</h3></li>
      <li><a href="javascript:void(0)">History</a></li>
      <li><a href="javascript:void(0)">Staff</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Resources for</h3></li>
      <li><a href="javascript:void(0)">Booksellers</a></li>
      <li><a href="javascript:void(0)">Professors</a></li>
      <li><a href="javascript:void(0)">Media</a></li>
    </ul>
  </div>

  <hr class="fancy" />

<div class="copy"><p>
	New Directions was founded in 1936, when James Laughlin (1914 - 1997), then a twenty-two-year-old Harvard sophomore, issued the first of the New Directions anthologies. "I asked Ezra Pound for 'career advice,'" James Laughlin recalled. "He had been seeing my poems for months and had ruled them hopeless. He urged me to finish Harvard and then do 'something' useful."
</p></div>



  <ul class="subfooter no-bullet small-print inline">
      <li class="source-org vcarfd copyright">
        <a href=""><span class="org fn">&copy; 2015 New Directions Publishers</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>


</footer>

  
<script type="text/javascript">

function aload(a){"use strict";a=a||window.document.querySelectorAll("[data-aload]"),void 0===a.length&&(a=[a]);var b,c=0,d=a.length;for(c;d>c;c+=1)b=a[c],b["LINK"!==b.tagName?"src":"href"]=b.getAttribute("data-aload"),b.removeAttribute("data-aload");return a}

window.onload = function () {
  aload();
};

  document.documentElement.className = document.documentElement.className.replace("no-js","js");
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/javascript/dist/scripts.min.js";
    document.body.appendChild(element);
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    document.body.appendChild(element_addthis);
    
    // var element_addthis = document.createElement("script");
    // element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    // document.body.appendChild(element_addthis);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>



<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,500:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  
</div>
  </body>
</html>

