{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    {{ $section := where .Data.Pages "Section" .Section }}
    <section class="flex-ns flex-wrap justify-around">
      {{ range  $section }}
        <div class="relative w-100 w-25-ns mb4">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
