{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
    {% include "templates/partials/hero-article-page.html" %}
  {% endblock %}
{% block content %}
<div class="has-layout layout-article">
  <article class="hentry">
    {% if item.name %}
      <header>
        <h1 class="entry-title">{{ item.name }}</h1>
      </header>
    {% endif %}
    <aside>

    {% if item.publish_date %}
        <ul style="margin-bottom:3em;">
          <li class="heading">Published</li>
          <li>{{ item.publish_date|date('F jS, Y') }}</li>
        </ul>
      {% endif %}

        {% set relatedAuthor = item.related_author %}
        {% for object in relatedAuthor %}
        <h5><a href="{{ url(object) }}">
          {{ object.name }}
        </a></h5>
        {% endfor %}
          <hr class="transparent" />
      {% set relatedBook = item.related_book %}
        {% for object in relatedBook %}
        <a href="{{ url(object) }}">
          {% include "templates/partials/format-image-sidebar.html" %}
        </a>  
        <hr class="transparent" />
        {% endfor %}

    </aside>
    <div class="entry-content prose">
        {% if item.lede %}
        <div class="lede">{{ item.lede|markdown }}</div>
        {% endif %}

      {{ item.copy|safe }}


    </div>

       {% if item.gallery.length => 0 %}
        {% for image in item.gallery %}
        <div style="text-align:center;margin:1em auto;max-width:100%;{% if image.width %}width:{{ image.width }}px;{% endif %}">
          <img src="{{ image|imageSize(1092, auto) }}" style="max-width:100%;"> 
          {% if image.caption %}<br /><small>{{ image.caption }}</small>{% endif %}
          </div>
          
        {% endfor %}        
      {% endif %}
  </article>
</div>
      {# LINKS TO PREV NEXT BOOKS #}
      {% set prev = prevItem(item, 'publish_date') %}
      {% set next = nextItem(item, 'publish_date') %}
      {% include "templates/partials/prev-next.html" %}
{% endblock %}


{# TODO: Add visual prev/next #}