{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - authors{% endblock %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
    {% include "templates/partials/hero-search.html" %}
  {% endblock %}
{% block content %}
  {% set authors = cms.author  %}
  {# {% set authors = paginate(authors, 10000) %} #}
  {% set pubDate = authors.publish_date|date('Y') %}
  
  <div class="local-nav"><!--  //Filter for the content below -->
  <div class="interior">
    {# <i class="icon-filter"></i> #}
    <ul class="button-group">
      <li id="filter-authors"><a href="javascript:void(0)" class="button">Authors</a></li>
      <li id="filter-editors"><a href="javascript:void(0)" class="button">Editors</a></li>
      <li id="filter-translators"><a href="javascript:void(0)" class="button">Translators</a></li>
      <li id="filter-contributors"><a href="javascript:void(0)" class="button">Contributors</a></li>
      {# <li id="filter-designers"><a href="javascript:void(0)" class="button">Designers</a></li> #}
      <li id="filter-none" class="button"><a href="javascript:void(0)" class="button">clear</a></li>
     {#  <li><a href="javascript:void(0)" class="button">Keywords</a></li> #}
    </ul>
    {# <div class="pagination" style="float:right;"><ul class="pagination-list"></ul></div> #}
    
    
    {# <button class="sort" data-sort="last_name">Sort by Last Name</button> #}
    {# <span style="text-align:right;">
      <i class="icon-th"></i>
      <i class="icon-th-list"></i>  
    </span>     #}
    </div>
  </div>

<hr class="transparent" />



<div id="container" class="grid-container clearfix" data-href="auto-awesome"><!--  //Creates a grid-box for the authors -->
  
  <ul class="grid-items-lines list-filter">

  
    {% for item in authors|sort('last')|sort('featured') %}
    

    <li class="grid-item {{ last_name|first }}" alt="{{ item.slug }}" >
      {# <a href="{{ url(author) }}"> #}

      {# <a href="http://localhost:2002/cms/#/wh/content/author/{{ item_id }}"> #}
      <a href="{{ url(item) }}">
        <div class="image-crop grayscale">
          {% include "templates/partials/format-image-180px-x-180px.html" %}
        </div>
        <div class="copy">
          <h1 class="entry-title name" id="author-{{ loop.index }}">{{ item.name }}</h1>
            {% if item.tagline %}
              <small class="description">{% filter replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') %}{{ item.tagline|safe}}{% endfilter %}</small>
            {% endif %}
            <span class="slug hidden">{{ item.slug }}</span>
            <span class="last hidden">{{ item.last|first }}</span>
            
            {% if item.full_name.last %}<span class="last_name_sort hidden">{{ item.full_name.last }}</span>{% endif %}
            {% for option in item.contributor_type %}
              {% if option.value %}
                <span class="category{{ loop.index }} hidden">{{ option.label }}</span>
              {% endif %}
            {% endfor %}
        </div>
      </a>
      </li>

{% endfor %}


        {# //RIGHT COVER AND BOTTOM COVER REMOVE THE OUTER LINES FROM THE GRID #}
    {# <div class="right-cover"></div>
    <div class="bottom-cover"></div>
     #}
  </ul>

    {# <div class="pagination" style="width:100%;margin:1em auto;"><ul class="pagination-list"></ul></div> #}
  
</div>

</div>







<style type="text/css">
  
  .nav {
    border-radius: 12px;
    background-color: white;
    position: fixed;
    padding: 10px 6px;
    right:35px;
    width: 24px;
    z-index: 40;
  }

  .nav .nav-wrap {
    overflow: hidden;
    position: relative;
    transition: .5s;
  }
</style>




{% endblock %}




{% block scripts_extra %}
  <script src="/static/javascript/dist/scripts-listjs.min.js" async></script>
{% endblock %}
