{% extends "templates/partials/base.html" %}
{% set page_name = 'Blog' %}
  {% set now = Date() %}
  {% set current_date = now |date('U') %}
  {% set articles = cms.article %}
  {% set articles = articles|sort('publish_date', true) %}
  {% set articles = paginate(articles, 10) %}
  {% set events = cms.event %}
  {% set events = events|sort('start_date') %}
{% block title %}{% parent %} - {{ page_name }}{% endblock %}
{% block content %}
  <div id="section0" class="layout-page-2-columnTK layout-page-2-column-wide-secondary">
    <section class="content-primary">
      <div class="cards">
        {% for article in articles %}
          {% include "templates/partials/format-cards-articles.html" %}
        {% endfor %}
      </div>
      <div class="pagination">{% include "templates/partials/paginator.html" %}</div>
    </section>
    <section class="content-secondary">
      <aside class="theme-social">
        <ul class="icons large" style="margin-bottom:.375em;">
         {% include 'templates/partials/social-icons.html' %}
        </ul>

        <div class="small">{% include "templates/partials/mailchimp.html" %}</div>
      </aside>
      {% for event in events %}
        {% set event_date = event.start_date|date('U') %}
        {% if event.start_date && event_date > current_date %}
          <a  href="{{ url(event) }}">
            <aside class="theme-purple">
              {% if event.start_date %}<h4>{{ event.start_date|date('F jS') }}</h4>{% endif %}
              {{ event.name}}
            </aside>
          </a>
        {% endif %}
      {% endfor %}
      <aside class="theme-dark-gray script-only">
        {% include 'templates/partials/social-twitter-stream.html' %}
      </aside>
      <aside class="theme-blue-lighter">
          <h2>Mentioned</h2>
          {% for article in articles %}
            {% for object in article.related_book %}              
              {% spaceless %}
                <li><a href="{{ url(article) }}">{{ object.name}}</a></li>
              {% endspaceless %}
              {% endfor %}
              {% for object in article.related_author %}
                {% spaceless %}
                  <li><a href="{{ url(article) }}">{{ object.name}}</a></li>
                {% endspaceless %}
              {% endfor %}
          {% endfor %}          
        </aside>
    </section>
  </div>  
{% endblock %}