{% extends "templates/partials/base.html" %}
{% set page_name = 'Books' %}
{% block hero %}{# //let page types overide the hero inner element, even though much of it is conditionally determined #}
  {% include "templates/partials/hero-search.html" %}
{% endblock %}
{% block title %}{% parent %} - {{ page_name }}{% endblock %}
{% block content %}
<div class="local-nav"><!--  //Filter for the content below -->
  <div class="interior">
    {# <i class="icon-filter"></i> #}
    <ul class="button-group">
      <li id="filter-authors"><a href="javascript:void(0)" class="button">New Fiction</a></li>
      <li id="filter-translators"><a href="javascript:void(0)" class="button">New Nonfiction</a></li>
      <li id="filter-editors"><a href="javascript:void(0)" class="button">New Poetry</a></li>
      
      <li id="filter-contributors"><a href="javascript:void(0)" class="button">New Theater</a></li>
       <li id="filter-designers"><a href="javascript:void(0)" class="button">Series</a></li>
      {# <li id="filter-none" class="button"><a href="/books/" class="button">clear</a></li>      #}
    </ul>
    <ul class="button-group" style="float:right;">
     <li class="button" ><a href="/books/list/" class="button">Complete List</a></li> 

    </ul>
    </div>
  </div>



{# 
1st: show upcoming 90 days
2nd show past 90 days (++)
3rd show bestsellers
4th show after 90 days
#}


  <div id="section0" class="layout-page">
    <section class="content-primary">
<div id="tipue_search_content"></div>




{% set current_date = now|date('U') %}

{% set books_new = cms.book|where('editions') %}
{% set books_new = books_new|sort('publication_date', true) %}



      
      <h1>New Books</h1>    

      <div class="grid-items">
          {% for object in books_new|slice(0,25) %}
            {% set edition = object.editions|first %}          
            {% set publication_date = object.publication_date %}
            {% set publication_date_unix = publication_date|date('U') %}
            {% set show_date = 'yes' %}
            
            {% if publication_date_unix < current_date  %}
              
              

              {% include "templates/partials/format-books-grid.html"  with show_date  %}
            {% endif %}
          {% endfor %}
        

      </div>




        <h1>Forhcoming Books</h1>    

      <div class="grid-items">

        {% for object in books_new|slice(0,55) %}
          
          {% set edition = object.editions|first %}          
          {% set publication_date = object.publication_date %}
          {% set publication_date_unix = publication_date|date('U') %}
          {% if publication_date_unix > current_date  %}
          
            {% set show_date = 'yes' %}
            {% include "templates/partials/format-books-grid.html" with show_date %}
          {% endif %}

        {% endfor %}
      </div>


        <h1>Bestsellers</h1>    

      <div class="grid-items">
        
          {% for object in cms.global.featured_books_bestsellers %}
            {% set edition = object.editions|first %}          
            {% set show_date = 'no' %}
            {% include "templates/partials/format-books-grid.html"  with show_date %}
          {% endfor %}
        
      </div>



















    </section>
  </div>


{% endblock %}

{% block scripts_extra %}
    {# DO NOT MINIFY THIS FILE #}
  <script src="/.wh/searchjson.js"></script>
{% endblock %}    