{% extends "templates/partials/base-page-one-column.html" %}
{% block content %}
{% set current_date = now|date('U') %}
{% set days90 = '1425444994' %}
{% set datePlus90  += days90  %}
{% set books_new = cms.book|where('editions') %}

{% set books_new = books_new|sort('publication_date', true) %}

{# 
1st: show upcoming 90 days
2nd show past 90 days (++)
3rd show bestsellers
4th show after 90 days
#}


  <div id="section0" class="layout-page">
    <section class="content-primary">
      <h1>Books</h1>{# {{datePlus90}} = {{current_date}} #}
      
      
      <div class="flex-boxes">


        
      
        {% for object in books_new|slice(0,20) %}
          {% set editions = object.editions %}
          
          {% set publication_date = object.publication_date %}
          {% set publication_date_unix = publication_date|date('U') %}


            

            {% if publication_date_unix > current_date && publication_date_unix < datePlus90 %}

              <a href="{{ url(object) }}" class="flex-box-smaller naked ">
                {# <h4 class="flex-title"><small>{{ object.name }}</small></h4> #}    
                <h4 class="flex-title"><span class="{% if publication_date_unix > current_date %}red{% endif %}">{{ publication_date|date('F d Y') }}</span></h4>
                {% include "templates/partials/format-image-200px-wide.html" %}
              </a>
            
            {% endif %}
        {% endfor %}
      

      </div>



    </section>
  </div>


{% endblock %}

