{% extends "templates/partials/base.html" %}
{% set page_name = 'Books' %}
  {% set now = Date() %}
  {% set current_date = now |date('U') %}

{% block title %}{% parent %} - {{ page_name }}{% endblock %}


{% set books = cms.book %}
{% set books = books|sort('publication_date', true) %}

{% block content %}

<div id="container-filter-books">
  <div class="local-nav"><!--  //Filter for the content below -->
    <i class="icon-filter"></i>
    <ul class="button-group" style="display:none;">
      <li id="filter-fiction">Fiction</li>
      <li id="filter-nonfictionTK">Nonfiction</li>
      <li id="filter-poetryTK">Poetry</li>
      <li id="filter-theater">Theater</li>
      <li id="filter-forthcoming">Forthcoming</li>
      <li id="filter-none" class="button">clear</li>
      <li><a href="#" class="button">Keywords</a></li>
    </ul>



<form action="/search-results/" class="search-form" method="get" data-search-index="false">
  <input type="text" placeholder="search" id="tipue_search_input" name="q" class="search">
</form>



    <input class="search" placeholder="Search" style="display:inline-block;" />
    <button class="sort" data-sort="last_name">Sort by Last Name</button>
    <span style="text-align:right;">
      <i class="icon-th"></i>
      <i class="icon-th-list"></i>
    </span>

<div style="float:right;">
  <form action="">
<input type="checkbox"  name="filter" value="Fiction" />Fiction
<input type="checkbox"  name="filter" value="Nonfiction" /> Nonfiction
<input type="checkbox"  name="filter" value="Poetry" />Poetry
<input type="checkbox"  name="filter" value="Theater" /> Theater

</form>


<form action="">
<input type="checkbox"  name="filter" value="2014" >2014
<input type="checkbox"  name="filter" value="2013" > 2013
<input type="checkbox"  name="filter" value="2012" >2012
<input type="checkbox"  name="filter" value="2011" > 2011

</form>

</div>
<hr />


</div>




{# ====== BOOKS LIST ======== #}

  <div style="margin:auto;">
      <table class="table-minimal" cellpadding="0" cellspacing="0">
      <tr>

        <th>Title</th>
        <th>Author</th>
        <th>Publication Date</th>
        <th>Genre</th>

      </tr>

        <tbody class="list-filter">
        {% for book in books %}
          <tr>
            <td class="name" width="12%">              
              <a href="{{ url(book) }}">{{ book.name }}</a>
            </td>    
              <td class="authorTK" width="12%">              
              
                
                {% for author in book.authors %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(author) }}" class="author">{{ author.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}

              
            </td>    


            <td class="date" width="12%">{% if book.publication_date %}{{ book.publication_date|date('F d, Y') }}{% endif %}</td>
            
            <td class="genre" width="12%">{% if book.genre %}{{ book.genre  }}{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


{# END BOOKS LIST  #}




</div>{#  //container-filter-books #}
























{% endblock %}
