{% extends "templates/partials/base.html" %}
  {% set page_name = 'Events' %}
  {% set now = Date() %}
  {% set current_date = now |date('U')%}
  {% set articles = cms.article %}
  {% set articles = articles|sort('publish_date', true) %}
  {% set events = cms.event %}
  {% set events = events|sort('start_date') %}
  {% set events_past = events|sort('start_date', true) %}
  {% set event_date = events.start_date|date('U') %}
  
  {% set start_time = event.start_date|date('g:ia') %}

{% block title %}{% parent %} - {{ page_name }}{% endblock %}

{% block content %}


  <div id="section0" class="layout-page-2-column-wide-secondary">
    <section class="content-primary">
      {% for event in events %}
        {% set event_date = event.start_date|date('U') %}
          {% if event.end_date %}
            {% set event_date_end = event.end_date|date('U') %}
          {% endif %}
        
        {% if event_date_end > current_unix_date || event_date > current_unix_date %}

        {% if event.featured_image %}

          <a href="{{ url(event) }}">
            <aside class="dark-on-light article-block-rectangle"  style="background-image:url({{ event.featured_image|imageCrop(700) }});background-position:center center;background-size:cover;">
              <div class="article-block-copy">
                <h4 style="text-shadow: 1px 1px 1px 0 rgba(255,255,255,0.5);">{{ event.name }}</h4>
                {% if event.venue %}
                  {{ event.venu}}
                {% endif %}  
                {% if event_date %}
                  {% include "templates/partials/format-event-dates.html" %}
                {% endif %}
                {# <a href="{{ url(event) }}">&raquo; more info</a> #}
              </div>
            </aside>
          </a>

        {% else %}
          <a href="{{ url(event) }}">
            <aside class="theme-dark-gray article-block-rectangular">
              {% if event_date %}
                {% include "templates/partials/format-event-dates.html" %}
              {% endif %}
              <h4>{{ event.name }}</h4>
            </aside>    
          </a>
        {% endif %}

{% endif %}
    {% endfor %}
  </section>




  <section class="content-secondary">
    <aside class="theme-social">
      <ul class="icons large">
       {% include 'templates/partials/social-icons.html' %}
      </ul>
    </aside>
    
    <aside class="theme-dark-gray script-only hidden">
      {% include 'templates/partials/social-twitter-stream.html' %}
    </aside>
  </section>
  
</div>  


<div class="row">
  
  <section class="content-primary">
    <h2>Past Events</h2>
      {% for event in events_past %}
        {% set event_date = event.start_date|date('U') %}
        {% if event.end_date %}
            {% set event_date_end = event.end_date|date('U') %}
          {% endif %}
        {% if event_date < current_unix_date || event_date_end && event_date < current_unix_date %}
        
          <a href="{{ url(event) }}">
            <aside class="theme-dark-gray article-block-rectangular">
             {% if event_date %}
               {% include "templates/partials/format-event-dates.html" %}
            {% endif %}
            <h4>{{ event.name }}</h4>
          </aside>    
        </a>
      {% endif %}
    {% endfor %}
  </section>


</div>


{% endblock %}