{% extends "templates/partials/base-page-one-column.html" %}
  {% set page_name = 'Shop ND Specials' %}
{% block title %}{% parent %} - {{ page_name }}{% endblock %}

{% block content %}
  <div id="section0" class="layout-page-2-column-wide-secondary">
    <h1>{{ page_name }}</h1>
  </div>
  <div id="section1" class="layout-page-2-column-wide-secondaryf">

    {% set shop_items = cms.shopitem %}
    {% if shop_items %}
      {% for shop_item in shop_items %}



        {% set books = shop_item.book %}
          



          {% if books %}{#  // IF WE FEATURE BOOKS #}
            {% for object in books|slice(0,25) %}
              {% include "templates/partials/format-books-list-shop.html" %}
            {% endfor %}
          {% endif %}






      {% endfor %}

    {% endif %}

  </div>
{% endblock %}