{% extends "templates/partials/base-page-one-column.html" %}
  {% set page_name = 'Shop ND Specials' %}
{% block title %}{% parent %} - {{ page_name }}{% endblock %}

{% block content %}
  <div id="section0" class="layout-page-2-column-wide-secondary">
    <h1>Shop New Directions' Specials</h1>
  </div>
  {% include "templates/partials/shop-block-item-book.html" %}
  <div id="section0" class="layout-page-2-column-wide-secondary">
    <div class="row-bottom" style="padding:4em;">
      <h2>Check back to the shop for future deals, or signup up to our newsletter for announcements.</h2>
      <div class="small">
        {% include "templates/partials/mailchimp.html" %}
      </div>
      </div>
    </div>
  </div>
{% endblock %}