{{ define "main" }}
{{ $books :=  sort (where (.Site.Data.editions) ".binding" "ne" "ebook") "publication_date" "desc" }}
{{ $book := where .Site.RegularPages "Section" "book" }}



<div class="{{ $.Param "page_padding_classes" }}">
  <h1 class="">
    {{ .Title }}
  </h1>
  {{ partial "page-content.html" . }}


  {{ range first 30 $books }}


  {{ range $book }}

    {{ range .Params.editions }}
    {{/* {{ $isbneach := $.Param ".isbn" }} */}}
      {{ $.Scratch.Set "isbn" .isbn }}


    {{ end }}
  {{ end }}


<h3 class="">

{{ int .isbn }} ({{ .book_title }})

  {{ $book_isbn := $.Scratch.Get "isbn" }}


[{{ $book_isbn }}]
  {{/* {{ $related_book := index (where ($book) $book_isbn "eq" "9780811227193" ) 0 }} */}}



  {{/* {{ $related_book.Title }} */}}

  {{/* {{ $related_book }} */}}
 -  {{  dateFormat "Jan 02, 2006" .publication_date }}
<img src="{{ .cover_image_path }}" class="h3" />
  {{/* {{ $pubdate := slice (index (.Params.editions) 0).publication_date }} */}}

</h3>
  {{ end }}




</div>


{{ end }}
