{{ define "main" }}
{{ $section :=  where .Site.RegularPages "Section" "book" }}

  {{ $events := where $section ".Date.Unix" "ge" now.Unix }}
  {{ $events_past := where $section.Reverse ".Date.Unix" "<" now.Unix }}





<div class="{{ $.Param "page_padding_classes" }}">
  <h1 class="">
    {{ .Title }}
  </h1>
  {{ partial "page-content.html" . }}






  {{ range first 20 $section }}


<h3 class="">{{ .Title }} -  {{ .Date.Format "Jan 02, 2006" }}

  {{/* {{ $pubdate := slice (index (.Params.editions) 0).publication_date }} */}}

</h3>
  {{ end }}




</div>


{{ end }}
